# Introducción a Python - Ejercicios

### 1. Declarar dos variables numéricas y realizar la división entre ambas ¿De qué tipo es la variable respuesta? ¿Qué podemos hacer para que sea un entero?

In [ ]:
a=3
b=6
c=b/a
print(c)
print(type(c))
print(int(c))

### 2.  De dos números, comprobar cuál es el mayor.

In [ ]:
a > b

### 3. Escribir un programa que solicite al usuario su nombre y edad, e imprima por pantalla:

Su nombre es: Juan  

Su edad es: 35

In [ ]:
nombre_edad = input("Escribe tu nombre y edad:  ")

In [ ]:
nombre, edad = nombre_edad.split(",")
nombre
edad

In [ ]:
nombre = input("Escribe tu nombre:  ")
edad = input("Escribe tu edad: ")
print("Su nombre es:" + nombre)
print("Su edad es:" + edad)

### 4. Construir dos listas y extender la primera, para que también tenga los elementos de la segunda. Hacer lo mismo con una tupla.

In [ ]:
lista_1 = [12, 123,35, 563]
lista_2 = [34, 10,20, 40]
lista_1.extend(lista_2)
print (lista_1)


tupla_1 = (12, 123,35, 563)
tupla_2 = (34, 10,20, 40)
tupla_3 = tupla_1 + tupla_2
print (tupla_3)

### 5. Crear dos cadenas de caracteres y concaterlas.

In [ ]:
a = "Hola"
b = " Mundo"
c = a + b
c

### 6. Crear una tupla e imprimir por pantalla su tercer elemento.

In [ ]:
tupla = (1,2,3,4)
print(tupla[2])

### 7. Crear una cadena de caracteres y convertirla a una lista.

In [ ]:
cadena1 = "Me llamo Jorge"
lista1 = list(cadena1)
print(lista1)

### 8. Comprobar si tu nombre contiene la letra _o_.

In [ ]:
nombre="miguel"
contiene="o" in nombre
print(contiene)

### 9. Escribir tu nombre y apellidos y convertilo todo a mayúscula.

In [ ]:
str_1 = "Marta Zubimendi"
print (str_1.upper())

### 10. Escribir un programa que solicite al usuario una lista de números separados por coma, construya una lista y una tupla a partir de la lista recibida y las muestre por pantalla

In [ ]:
numeros = input('Introduzca numeros separados por comas:').split(',')
print (numeros)

tupla = tuple(numeros)
print (tupla)

### 11. Escribir un programa que solicite al usuario un listado de nombres separados por punto y coma, construya una lista e imprima por pantalla los elementos pares de la lista

In [ ]:
entrada = input("Listado de nombres separados por ;").split(';')
print(entrada)
print (entrada[1::2])

### 12. Escribir un programa que solicite al usuario dos cadenas de texto y detecte si la segunda está contenida en la primera.

In [ ]:
cad_txt1 = input('Introduzca varias palabras: ')
cad_txt2 = input('Introduzca una palabra: ')
cad_txt2 in cad_txt1

### 13. Escribir un programa que solicite al usuario una lista de nombres separados por coma, una posición y devuelva la lista de nombres sustituyendo el que aparece en la posición indicada por "Miguel"

In [ ]:
nombres = input('Introduzca una lista de nombres separados por coma: ').split(',')
pos = input('Introduzca una posicion: ')
pos = int(pos)

nombres[pos-1]='Miguel'
print(nombres)

### 14. Crear una lista de 10 números y devolver del cuarto al octavo elemento.

In [ ]:
lista = list(range(10))
lista[3:8]

### 15. Crear un diccionario a partir de dos listas (los elementos de una de ellas deben ser las claves del diccionario y los elementos de la otra, los valores del diccionario).

In [ ]:
list_1 = ["clave_1", "clave_2", "clave_3", "clave_4"]
list_2 = [1, 2, 3, 4]
dic_1 = dict(zip(list_1, list_2))
print(dic_1)

### 16. Insertar en el diccionario anterior un nuevo valor, cuya clave sea "nueva_clave".

In [ ]:
dic_1["clave_nueva"] = 5
print(dic_1)

### 17. Modificar el valor añadido al diccionario, accediendo por la clave "nueva_clave".

In [ ]:
dic_1["clave_nueva"] = 7
print(dic_1)

### 18.  Eliminar todos los elementos del diccionario creado.

In [ ]:
dic_1.clear()
dic_1

### 19. Crear dos listas y calcular su unión e intersección.

In [ ]:
list_1 = [1,2,3,4,5,8,5,6]
list_2 = [10,11,12,13,14,2,6,8]
list_1 + list_2

In [ ]:
list_1 = [1,2,3,4,5,8,5,6]
list_2 = [10,11,12,13,14,2,6,8]
set_1 = set(list_1)
set_2 = set(list_2)
print(list(set_1 | set_2))
print(list(set_1 & set_2))

### 20. Crear dos conjuntos y calcular su unión, intersección y diferencia simétrica.

In [ ]:
set1 = {1,2,3,6,4}
set2 = {3,4,7,8}

In [ ]:
set1 ^ set2