In [1]:
from builtins import *
raw_input = input

# Introduction to Python with stops at Pandas, NumPy, and Matplotlib

## Table of Contents 

1. [Introduction to Python](#intro)
    - Interpreted vs. Compiled languages
    - Data types in Python
    - Variables in Python
    - Stdin - Stdout (input and print)
    - Importing modules
<br><br>
2. [Arithmetic and Logical operations](#arithmetic)
    - Number types in Python
    - Arithmetic operators
    - Logical and Relational operators
    - Introduction to Boolean functions
<br><br>
3. [String operations](#string)
    - Slicing
    - Testing strings
<br><br>
4. [Data type conversion](#convert)
    - Conversions
    - Rounding
<br><br>
5. [Control Flow operations](#control)
    - If, elif, else
    - Nested if
<br><br>
6. [Loops](#loop)
    - For loop
    - While loop
    - Exercise on loops
<br><br>
7. [Data Structures in Python](#ds)
    - Lists
    - Tuples
    - Dictionaries
    - Exercise on Data Structures
    - List Comprehension
<br><br>
8. [Functions in Python](#func)
    - Functions with return and no-return statements
    - Variable scopes (local and global)
<br><br>
9. [File Handling in Python](#file)
    - Writing to a file
    - Reading from a file
<br><br>
10. Array operations using NumPy
    - Simple array operations
    - Random number generations
    - Permutation generator
<br><br>
11. Pandas introduction
    - Dataframe intro and simple operations
    - Dataframe operations such as ‘drop’, ‘isnan’, ‘concat’, ‘columns’, etc.
<br><br>
12. Matplotlib visualizations of data
    - Line plot
    - Scatter plot
    - Correlation matrix

## Introduction to Python
<a id="intro"></a>

Python is a general purpose programming language created by Guido Van Rossum. Its suitable for many applications such as Web, GUI development, Financial calculation, Data Analysis, Machine learning and Data Sciences, and Visualization to name a few.

Python is an interpreted language which means the interpreter reads the Python code line-by-line and executes the operations. This is in contrast to the compiled language like C or C++ where the compiler compiles the entire code before hand and generates an executable for running the code.

How is this better? Error debugging is easy, beginner friendly and there is no need for trivial operations such as calculating array lengths before hand. The caveat - interpreted languages are little bit slow.

Python is programmer friendly. There is no need to declare datatypes such as `int a` or `char c` to assign a variable. There is definitely no need to initialize array sizes as well. Most of Python modules are open-sourced and can easily be imported to the source code being developed to NOT re-invent the wheel every time.

### Data types in Python

The 6 types of data types of Python are:

1. Numbers: `0, 5.6, 3+2j`
2. String: `"Python is great!", 'a', '1'`
3. Boolean: `True, False` 
4. List: `[1, 2, 3, 4]`
5. Dictionary: `{'Name':'Vodafone', 'Age': 35}`
6. Tuple: `(1, 2, 3, 4, 5)`

The last 3 on the list are also called data structures of Python since it houses multiple values. All of them will be dealt with in detail later.

### Variables

Variables are named locations that store references to objects (values) stored in memory. The variable names are called **Identifiers**. These identifiers must obey the following rules:

1. Must start with a letter or an underscore(`_`). Identifiers starting with a digit is invalid. Although, there can be digits in any other locations.<br>For ex: `_variable, name_1`
2. Can have any length
3. Keywords are prohibited from usage. The list of Python keywords can be found [here](https://www.programiz.com/python-programming/keyword-list)

#### Assignment of values of variables

Values are assigned to variables using an assignment operator `=`. They can be any of the 6 data types listed above.

In [2]:
# Few examples of variable assignments

x = 100 # integer
var_float = 2.5 # float
name_string = "Vodafone rocks!" # String
del(name_string) # deleting a variable to save memory
a = b = c = 250 # Multiple variable assignment in a single line

#### Comments in Python

You might have noticed the piece of text that follows after a `#`. This is called a single-line comment. Comments are not executed and are ignored by the interpreter. Comments can be single line or multi-line. These are usually used to write a brief information about an operation that precedes or follows it.

In [3]:
# This is a single line comment.
#  Anything that follows the # in a line is not interpreted

"""
Multi-line comments are typed between a pair of 3 consecutive quotes

Multi-line comments do not need # to begin with

a = 100 is not executed
"""
# Usage of a comment
x = 100 # Initialized x to 100

In [4]:
# Swap two variables a and b
a = 10
b = 20

#a, b = b, a # b is now 10, a is now 20


b,a=a,b

b

10

### Standard Input and output in Python

Python takes in inputs from users interactively using a stdin function called `input`. The value fed to `input` will be assigned to a variable and will be of type string - even if the entered value is a number. 

To display a value of a variable or to display a string on a console,  we use `print` statements. Python3 explicitly need a pair of paranthesis `()` to use `print`

In [5]:
# input and print example

user_input = raw_input('Please enter your name: ') # Takes in user input
print (user_input) # prints the entered input

# Print value of a variable
a = 100
print (a)
# print with text
print ("Welcome", user_input)
print ('The value of a is: %d' %(a)) # using format specifier
print ("The value of a using format is {}".format(a)) # using 'format'

# Multiple values in format
print ("The value of a is {}, a + 100 is {} and finally a - 50 is {}".format(a, a + 100, a - 50))

print ("{},{}".format(a,a+1))

Please enter your name: Vodafone Data Scientist
Vodafone Data Scientist
100
Welcome Vodafone Data Scientist
The value of a is: 100
The value of a using format is 100
The value of a is 100, a + 100 is 200 and finally a - 50 is 50
100,101

`%d` is called a format specifier which will be dealt with later. This must be correctly specified depending on the type of the variable. `type` gives the data type of the value housed by the variable.

In [6]:
# The data type of variable a and user_input
print ("The type of variable a is", type(a))
print ("The type of variable user_input is", type(user_input))

The type of variable a is <class 'int'>
The type of variable user_input is <class 'str'>

### Importing modules

It is practically impossible to script everything from scratch. Python has in-built modules which are ready to use. This makes the code more modular and are imported using the keyword `import`. By convention, only the required sub-modules are imported. `*` is used to import all of them.

In [7]:
import math

print(help(math))

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /home/alliedtoasters/miniconda3/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so


None

In [8]:
# import math to use in-built math functions and values
import math
print ("Value of Pi is", math.pi)

# import square root sub-module
from math import sqrt
print ("Value of square root of 4 is", sqrt(4))
# importing specific sub-modules only imports that particular sub-module
# Uncomment the below line and see what happens
# print (cos(0))

# import entire math module and print cosine of 0
from math import *
print ("Cosine of 0 is", cos(0))

Value of Pi is 3.141592653589793
Value of square root of 4 is 2.0
Cosine of 0 is 1.0

Importing unnecessary modules will consume memory that needs saving. Notice when we use the `math`(module name) followed by a `.` then name of the variable or function.

## Arithmetic and Logical Operators

<a id="arithmetic"></a>

### Number types in Python

There are 3 different numerical types:

1. integers (`int`, `%d`):
    Eg. 1, 40, 100, 1e4(10000)
2. floating point (`float`, `%f`):
    Eg. 2.3, 4.6, 100.0
3. complex:
    Eg. 3+2j
    
Wrapping `type()` around the value or variable give the type of the number. `%d` and `%f` are format specifiers used to represent integer and float values, respectively when accessing them in a string.

### Arithmetic operators

These operators are used with numerical values to perform arithmetic operations. The list of them are:

1. Addition(+): Adds two numerical values (Used with strings too, dealt later)
2. Subtraction(-): Subtracts two numerical values
3. Multiplication(*): Multiplies two numerical values 
4. Float Division(/): Division of two numerical values, returns floating point quotient 
5. Quotient Division(//): Division of two numerical values, returns integer quotient 
6. Exponentiation(**): Yields exponent of a base value to the desired exponent
7. Modulus(remainder)(%): Returns remainder of a division 

Here are few examples:

In [9]:
# Addition of two numbers
print ("Int addition:", 5 + 10)

# Addition of int and float yields a float
print ("Float addition:", 4.5 + 8)

# Increment - both work the same way
a = b = 5
a = a + 5 # a = 10
b += 5 # b = 10

# Subtraction of two numbers
a = 8.5
b = 5.9
# Print results using format specifiers. Notice the syntax
print ("Subtraction of %f from %f is: %f" %(b, a, a - b))

# Fun activity: Replace the last %f with %d and notice what happens!

# Multiplication of two numbers
prod = a * b
print ("Product:", prod)

# Float and quotient division
x = 4
y = 2.5

float_div = x / y
quotient_div = x // y
print ("Float Division: {} \nInteger Division: {}".format(float_div, 
                                                          quotient_div))
# \n is an escape sequence for new line. \t adds a tab space

# Exponentiation: base ** exp
print ("Exponent of 8 to power of 2:", 8 ** 2)

print ("Modulus(remainder): %", 8 % 3)

Int addition: 15
Float addition: 12.5
Subtraction of 5.900000 from 8.500000 is: 2.600000
Product: 50.150000000000006
Float Division: 1.6
Integer Division: 1.0
Exponent of 8 to power of 2: 64
Modulus(remainder): % 2

Notice the `+=` example of the increment? That is called an augmented assignment operators. These only take a single operand(value). All the above can be implemented as follows:

1. Addition: +=
2. Subtraction: -=
3. Multiplication: *= 
4. Float Division: /=
5. Quotient Division: //=
6. Exponentiation: **=
7. Modulus(remainder): %=

In [10]:
a = a +1
print(a)

9.5

### Logical and Relational operators

Python also supports relational operators to work numerical values and provide a Boolean (True or False) outcome. It also supports logical operations to work on Boolean variables.

The list of relational operators supported are:

1. Lesser than(<): True if the left operand is lesser than the right. False otherwise
2. Lesser than equal to(<=): True if the left operand is lesser than or equal to the right. False otherwise
3. Greater than(>): True if the left operand is greater than the right. False otherwise
4. Greater than equal to(>=): True if the left operand is greater than or equal to the right. False otherwise
5. Equal to(==): True if and only if the left and right operands are equal. False otherwise
6. Not equal to(!=): True if and only if the left and right operands are unequal. False otherwise

Similarly, logical operators also yield Boolean outputs. The 3 logical operators are:

1. Logical AND(and): Only True and True is True
2. Logical OR(or): Only False or False is False
3. Logical NOR(not): not True is False and vice-versa

Few examples for relational operators are:

In [11]:
x = 2.5
y = 5
a = 5

# lesser than and lesser than equal to
print ("Lesser than:", x < y)
print ("Lesser than equal to:", y <= x)

# Greater than and greater than equal to
print ("Greater than:", a > y)
print ("Greater than equal to:", a >= x)

# Equal to and not equal to
print ("Equal to:", a == y)
print ("Not equal to:", a != y)

Lesser than: True
Lesser than equal to: False
Greater than: False
Greater than equal to: True
Equal to: True
Not equal to: False

## String Operations
<a id="string"></a>

- Strings are contiguous series of characters delimited by single or double quotes.
- They are immutable - meaning it cannot be modified once created. 
- The arithmetic operator `+` is used for concatenation of two strings. 
- Indexes(characters) of a string are accessed using `[]`against the variable name. They are 0 indexed.
    <br>E.g: `s = "Hello"` has `s[0]='H', s[1]='e', s[2]='l', s[3]='l', s[4]=s[-1]='o'`
- `'1'` is a string and not an integer.
- Stdin `input` call stores all its values(numbers included) in the string data type. 
- `%s` is the format specifier used for strings

Some of the operations that could be done using strings are:

1. `id(s)` gives out the memory address that the string variable `s` is stored
2. `s[0]` gives the first character of the string. Similarly, `s[-1]` gives the last character in the string
3. If `s_1` and `s_2` are two string variables, `s_1 + s_2` would yield a new string with the two strings concatenated
4. Relational operators can be used to compare strings.
5. Length of the string can be obtained using `len(s)`

### String slicing

Slicing is a very useful operation performed on strings and lists(dealt later) that allows us to access the subset of the original string.

**Syntax:** `s[start:end]`

This would return the sub-string starting from the `start`th index to `end-1`th index of the main string

- `s[0:1] == s[0]` since both return only the first character of a string
- `s[0:3]` returns the first 3 characters in a string - `s[0], s[1], s[2]` (Note how it does not return the s[3]th character)
- `s[3:]` returns the sub-string from the 4th position to the end of the main string
- `s[:-2`] returns the sub string from the start to `len(s) - 2`
- `s[2:5]` returns the sub string starting from the third character to the 5th character - `s[2], s[3], s[4]`

Let us take a look at some examples

In [12]:
s = "Vodafone"
t = "Fellowship"
# Indexing a string
print (s[0])

# Concatenation of strings
t = s + " " + t
print (t)

# Repeating a string
print ('#' * 25)

# IDs of string and lengths
print ("ID of s: ", id(s))
print ("ID of t: ", id(t))
print ("ID of Vodafone", id("Vodafone"))
print ("Length of concatenated string:", len(t)) # Note that white space is counted as a character

# String Slicing
# Excercise: Try different types of slicing as discussed above on string t

V
Vodafone Fellowship
#########################
ID of s:  140421124714224
ID of t:  140421103458320
ID of Vodafone 140421124714224
Length of concatenated string: 19

In [13]:
## Answer before uncommenting and running

"""
str_1 = "Fellowship"
str_1[0] = "M"
print (str_1)

"""

'\nstr_1 = "Fellowship"\nstr_1[0] = "M"\nprint (str_1)\n\n'



```
# This is formatted as code
```

`in` and `not in` are string logical operators that is used to check existence of a string in another string. Also called as membership operators.

In [14]:
s = "Vodafone"
print ("Voda" in s) # True
print ("Fellow" in s) # False

True
False

### String functions

There are several string functions that yield different kinds of information about a string, convert a string to lowercase, uppercase or even swapping cases. 

## `#### Testing strings`

The following functions give out a Boolean outcome depending on the category the string falls under:

1. isalnum(): Returns True if string is alphanumeric
2. isalpha(): Returns True if string contains only alphabets
3. isdigit(): Returns True if string contains only digits
4. isidentifier(): Return True is string is valid identifier
5. islower(): Returns True if string is in lowercase
6. isupper(): Returns True if string is in uppercase
7. isspace(): Returns True if string contains only whitespace

#### Converting strings

These set of functions modify the string to a new string:

1. capitalize(): Returns a copy of this string with only the first character capitalized.
2. lower(): Return string by converting every character to lowercase
3. upper(): Return string by converting every character to uppercase
4. title(): This function return string by capitalizing first letter of every word in the string
5. swapcase(): Return a string in which the lowercase letter is converted to uppercase and uppercase to lowercase
6. replace(old, new): This function returns new string by replacing the occurrence of old string with new string

In [15]:
s = "Fellowship is teaching Python for Vodafone Milan"

# Test if the string contains only alhabets
print ("Is alphabets?", s.isalpha())

print("yes alright".upper())
print("yes alright".title())
print("yes AlRight".swapcase())
print("yes AlRight".capitalize())

# Modify string to only lowercase
print ("Lower case: %s" %(s.lower()))

## Test the string on functions and also modify it using the string conversion functions

Is alphabets? False
YES ALRIGHT
Yes Alright
YES aLrIGHT
Yes alright
Lower case: fellowship is teaching python for vodafone milan

## Data type conversion

<a id="convert"></a>

Many a times the values we obtain might not be of the right data type we desire. We might want an integer but the value we have is a float. Remember earlier when it was mentioned all the values returned by `input` are strings? What if we entered a number `1` and we would like it as 1 rather than '1'? Reading a file also saves the content as strings. 

This is why Python supports type conversion. 

There are two types: 
1. Implicit type conversion: Python's interpreter converts the type of the value to a suitable type <br>
Eg. `5/2 = 2.5`. Both 5 and 2 were integers, but the output is a float. <br>
Similarly, `5 * 2.0 = 10.0`. A multiplication of an integer and float is type casted to a float

2. Explicit type conversion: This is the case where the user has to explicitly convert the type of the variable. <br>
Eg. `a = '12345'` is a string -> `a = 12345` to an integer

Here are the common conversions:
1. Int-Float conversion
    - `int(var)` is used to convert a floating point `var` to integer
    - `float(var)` is used to convert an integer `var` to floating point

2. Number-String conversion
    - `str(var)` is used to convert a number `var` to a string type
    - `int(var)` is used to convert a string `var` to an integer. `float(var)` to convert to floating point. <br>
    **NOTE**: `int('5.6')` is not valid

### Rounding numbers

Rounding is used to set the precision point of floating point values. `round()` is the function. Consider the following example:

In [16]:
# Import value of pi from math module
from math import pi

# Print pi without rounding
print ("The value of pi without rounding is:", pi)

# Print pi with rounding upto 2 digits after decimal points
print ("The value of pi after rounding is:", round(pi, 2))

The value of pi without rounding is: 3.141592653589793
The value of pi after rounding is: 3.14

You can also round values just for printing purposes - this does not alter the variable but it is just printed with a rounded value.

In [17]:
# Rounding using format specifiers and format. Let us print the value of pi
print ("The value of pi by rounding using format specifier is %0.2f and value of pi is %f" %(pi, pi))
print ("The value of pi by rounding using format is {:0.2f} and value of pi is {}".format(pi, pi))

The value of pi by rounding using format specifier is 3.14 and value of pi is 3.141593
The value of pi by rounding using format is 3.14 and value of pi is 3.141592653589793

## Control Flow Statements

<a id="control"></a>

Control flow statements are used to use relational operators on certain variables to change the direction of the executing program. 

For example, say you need to control the cool/heat/fan of a room given the temperature. IF the temperature of the room is GREATER THAN 35$^{\circ}$C, you turn on the AC. ELSE IF the temperature is between 2$^{\circ}$C and 35$^{\circ}$C, you keep it a simple fan. ELSE(lesser than 2$^{\circ}$C), you turn on the heat.

There are three courses of actions based on just one variable's value - the temperature. Control flow simply does this.

- Control flow statements operate on boolean outcomes at every conditional node. Execution of a control flow block occurs ONLY if the outcome is True
- Relational operators can be used to check conditions
- Logical operators can also be paired up with relational operators
- `if` is the entry point of control flow statement. It is the first condition to be checked and is executed if the condition is met. There can only be one `if` statement in a block
- `elif` is the control flow statement that could be executed as an alternate condition to the initial condition if `if` statement fails. There can be multiple `elif` statements.
- `else` is the final condition that is executed if everything else fails. `else` is optional - if there is no `else` statement, there is no fallback execution. `else` needs to be only one in number in a block.
- **IMPORTANT:** Indentation is very important in control flow statements since Python does not have `{}` to separate blocks and indentation is not part of decorational convention but is a syntax.
- Every control block statement needs to be indentated with a single tab space
- `if, elif, and else` need to terminate with a `:`

**Syntax:** <br>
```
if(condition_1):
    statement_1
    statement_2
    .
    .
    .
elif(condition_2):
    statement_1
    statement_2
    .
    .
    .
elif(condition_3):
    statement_1
    statement_2
    .
    .
.
.
.
else:
    statement_1
    statement_2
    .
    .
    .
```

Let us take a look at an example. Note the indentation and use of boolean and relational operators.

In [18]:
temperature = 40

if(temperature > 35):
    print ("Cooler is now turned on!")
elif(temperature >= 2 and temperature <= 35):
    print ("Fan is turned on")
else: # temperature < 2
    print ("Heater is turned on")

Cooler is now turned on!

### Nested-if statements

Sometimes, there can be scenarios where multiplr control flow statemtents needs nesting. Nesting implies one or more control flow blocks inside an `if, elif` or `else` statements.

Here is an example, note the identation again.

In [19]:
temperature = 40
electricity_bill = 2500
if(temperature > 35):
    if electricity_bill <= 1500:
        print ("Cooler is now turned on!")
    else:
        print ("Bill too high, turning on fan.")
elif(temperature >= 2 and temperature <= 35):
    print ("Fan is turned on")
else: # temperature < 2
    print ("Heater is turned on")

Bill too high, turning on fan.

`else` block need not always be used. If there is no `else`, only the `if` and `elif` blocks are executed if their conditions are met, otherwise nothing happens and execution of the remainder of the program continues.

In [20]:
temperature = 15

if(temperature < 20):
    print ("Heater is on")
    temperature += 5 # un-indent to see what happens to temperature
print ("Temperature is {}".format(temperature)) # rest of the program continues

## change temperature to 15, put back the indent and excute the cell

Heater is on
Temperature is 20

In [21]:
# Having no else block is equivalent to

if (temperature == 20):
    print ("Heater is on")
    temperature += 5
else:
    pass # pass does not execute anything but just skips the else block
print ("Temperature is {}".format(temperature))

Heater is on
Temperature is 25

## Loops

<a id="loop"></a>

Loops are control statements that are used for repeated operations. They make the code simpler and compact.

There are two kinds of loops:
1. Finite loop: Loops that end after a particular criterion is met
2. Infinite loop: Once the execution of this loop starts, it only ends if the user or system breaks it - An ATM machine has to take in card info, complete a transaction, return the card, and must repeat the three operations again, infinitely for future transactions.

Consider this scenario of adding first 5 numbers starting from 0. Without a loop, this is how the code might look.

```
x = 0
x += 1
x += 2
x += 3
x += 4
x += 5

print (x)
```
This is already beginning to be inconvenient. Consider adding up first 100 numbers, or 1000 numbers - this is practically infeasible. Here is the loop approach (Don't worry about the details for now):

```
# Initialize x
i = x = 0 # i is the iterating variable
while (i <= 100):
    x += i # add i to x
    i += 1 # increment i

print (x)
```

See how simple and compact it was? There are two loops in Python:

1. `for` loop
2. `while` loop

A loop segment also needs to be indented as part of syntax.

**Syntaxes:**

1. for loop:

```
for iterable_variable in iterable_object:
    statement_1
    statement_2
    .
    .
    .
```
`for` loop has the iterable variable go through every item of the iterable object and executes the statements inside the loop segment. The last iteration would be at the last element of the iterable object and the loop segment ends.

2. while loop:

```
while(condition):
    statement_1
    statement_2
    .
    .
    .
    
```
`while` loop executes the loop statements as long as the condition inside the while statement is True. The loop ends when the condition fails. The condition is checked implicitly after the last statement is executed and before the loop is entered again. 

### `range` function

`range(a, b)` is a function that returns a sequence of integers starting from `a` till `b - 1`. <br>

For example,<br>
`range(2, 5)` -> 2, 3, 4 <br>
`range(0, 5)` == `range(5)` -> 0, 1, 2, 3, 4 <br>

`range(a)` yields list of integers from 0 to `a - 1`

`range` can also have steps - which is the third argument.
`range(a, b, step)` is the syntax. <br>
Example: `range(2, 10, 2)` -> 2, 4, 6, 8 <br>
`range(0, 10, 1)` is same as `range(10)` and `range(0, 10)` which gives the integers from 0 to 9.

Range does implicit increments.

Let us take a look at few examples of loops:

In [22]:
# for loop using range
for i in range(1, 10): # i is the iterable variable. range(1, 10) is the iterable object
    print (i) # note the identation

1
2
3
4
5
6
7
8
9

In [23]:
# for loop with steps
for i in range(0, 20, 2):
    print (i)

0
2
4
6
8
10
12
14
16
18

In [24]:
# while loop to sum first 100 integers

# Initialize x
i = x = 0 # i is the iterating variable
while (i <= 100): # check condition
    x += i # add i to x
    i += 1 # (IMPORTANT STEP) increment i.

print ("Sum of first 100 numbers is", x)

Sum of first 100 numbers is 5050

When using while loop, care must be taken to ensure the condition is made finite and the loop terminates at the desired point. In this case, `i` had to be incremented to not only get the sum but also to end the while loop after 100 iterations. If not, the loop will run infinitely since `i` is always 0 and hence `< 100`, making the condition true forever.

### `break` and `continue` statements

`break` statements are used to break out of the loop - once and for all.<br>
`continue` statements are used to skip a particular iteration and move on to the next.

Let us understand it with examples:

In [25]:
# Example for break

# Initialize x and i
i = x = 0 
while (i <= 1e6): # check condition
    x += i # add i to x
    if(i == 100): # check if i = 100
        break
    i += 1 # (IMPORTANT STEP) increment i.
    

print ("Sum of first {} numbers using break is {}".format(i, x))

Sum of first 100 numbers using break is 5050

Notice how even though the loop was supposed to run 1,000,000 (million) iterations, break capped it at only 100? try changing the break condition and see what happens.

Similarly, `break` can be used to terminate infinite loops

In [26]:
# Infinite loop can be defined by making the condition of while
# loop always True or 1
i = 0
while(True):
    print (i)
    i += 1
    if (i == 10):
        break

0
1
2
3
4
5
6
7
8
9

In [27]:
# Example for continue

for i in range(20):
    if (i % 2 == 0): # check if divisible by 2
        continue # skip even numbers
    print (i)

1
3
5
7
9
11
13
15
17
19

#### Difference between `pass` and `continue`

In [28]:
for i in range(20):
    if (i % 2 == 0): # check if divisible by 2
        pass 
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Notice the difference? `pass` simply ignores the `if` block but continues the execution of the rest of the loop statement. `continue` skips the entire iteration.

## Data Structures in Python

<a id="ds"></a>

Data structures house a collection of values all under one instance of a variable. Broadly classifying, Python has 3 data structures:
1. Lists
2. Tuples
3. Dictionaries

### Lists

- List is used to store a collection of heterogeneous items. 
- Lists are mutable meaning they can be modified even after definition
- List values are housed between `[]` seperated by ','
- Lists can be empty
- Lists are heterogenous meaning they can have values that are integers, float, or strings all in a single list
- Lists of lists is valid
- Can also be created with `list()` 

#### Creation of lists

Lists can be created by keying in values between square brackets seperated by commas and giving it an identifier.

In [29]:
# examples of a list
a = [1, 2, 3, 4]
b = ["Vodafone", 25, 2.6]
c = [[2, 3, 4], ["A", "B"], [2]]
d = [] # empty list
e = list() # another way of empty list initialization
f = list([2, 67, 24])
g = list("Vodafone")

# Print every list to see the outcome. What do you think g would look like?

print(d,c,e,f,g)

# Access values of list of lists
# printing the second element of the first element of c
# c[0] -> [2, 3, 4] -> list
# c[0][1] -> 3 -> second element of the list, c[0]
print ("The second element of the first element of c:", c[0][1])

[] [[2, 3, 4], ['A', 'B'], [2]] [] [2, 67, 24] ['V', 'o', 'd', 'a', 'f', 'o', 'n', 'e']
The second element of the first element of c: 3

#### Accessing list elements and slicing

Accessing lists by indexes can be used to either print out list values or to modify them.

- Lists are 0 indexed which implies 0th index gives the first element of a list. `a[0]` gives `1` and `b[2]` returns `2.6`
- `len(a)` returns the length of list a defined above, which would be 4
- `c[-1]` returns the last element of a list which is `[2]`. Note how it returns a list of length=1 - this is because it is a list of lists
- Modifying a list element is as simple as `a[1] = 5`

Try solving these exercises. Feel free to play around

In [30]:
# print the second element of a
print(a[1])

# Now, modify the second element to be a string 'Fellowship'
a[1] = 'Fellowship'
print(a)

# print the penultimate element of list b
print(b[-2])

# modify the last element of b to be a list having even numbers from 1 to 5
b[-1] = [2,4]
print(b)

# print the second element of f using len() function
print(f[len(f) - 2])

2
[1, 'Fellowship', 3, 4]
25
['Vodafone', 25, [2, 4]]
67

Slicing of a list is similar to that of string slicing. Here is a recap:
If `x` is a a list of length, `len(x)`. Then
- **Syntax:** x[start:end] gives the sub-list starting from `start` index to `end-1` index.
- `x[:-1]` gives the sub-list which has all the elements of `x` except the last one
- `x[:2]` gives the first two elements of the list
- `x[4:]` gives the sub-list starting from the 5th element of `x`, all the way till the end
- `x[2:6]` returns a sub-list starting from the third element of `x` to the 6th element.

Here is another set of exercises on list slicing

In [31]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[4:]



# print the last 5 indexes of x
x[len(x) - 5:]

# print first 3 indexes of x
x[:3]
# print a sub-list starting from 5th index to the 8th
x[4:8]

# modify the 2nd, 3rd, and 4th index to be 25, 30, and 35 respectively
x[:2] = [25,30,35]
print(x)

[25, 30, 35, 3, 4, 5, 6, 7, 8, 9, 10]

#### Concatenation and repetition of lists

Similar to strings, lists are concatenated by adding them using a `+`.
Also, multiplying a list with a number, `n` replicates the elements `n` times.

In [32]:
# Concatenation
x = [1, 2]
y = [3, 4]
x_y = x + y
print ("Concatenated list", x_y)

# Repetition of elements thrice
x_3 = x * 3
print ("Replicated list", x_3)

for i in x:
    for j in y:
        l=[i+j]
        print(l)

Concatenated list [1, 2, 3, 4]
Replicated list [1, 2, 1, 2, 1, 2]
[4]
[5]
[5]
[6]

#### `in` and `not in` operators

Once again, similar to strings, `in` operator returns True if an element exists in a list. False otherwise. On similar lines, `not in` operators returns True if an element does not exist in a list.

In [33]:
x = [1, 2, 3, 4, 5]

if 2 in x:
    print ("2 exists in x")
if (3 in x) and (5 in x):
    print ("3 and 5 exist in x")
print (10 in x)
if (100 not in x):
    print ("100 does not exist in x")

2 exists in x
3 and 5 exist in x
False
100 does not exist in x

#### Traversing a list using loop

for loops can be used to traverse through a list. The way this works is that the list is the iterable_operator and the iterating variable takes on every element of list.

Lists can be also be traversed by *accessing* every element using `range` and `len()`. 

We will discuss both these methods using examples

In [34]:
x = [8, 25, 39, 7, 35]

# iterating variable taking on element of a list
print ("i is taking on elements of the list")
for i in x: # i will take on 8, 25, 39, 7 and finally 35
    print (i) # simple as that
    
# iterating by accessing list elements
print ("i is taking on indexes of the list")
for i in range(len(x)): # i takes on 0, 1, 2, 3 and finally 4
    print (x[i]) # accessing the index of the list

i is taking on elements of the list
8
25
39
7
35
i is taking on indexes of the list
8
25
39
7
35

Some more exercise

In [35]:
# Traverse the list x, but only the last 3 elements
for i in x[len(x)-3:]:
    print (i)


# Traverse the first 2 elements of the list x by accessing the elements
for i in x[:2]:
    print("Second exercise : {}".format(i))
  
  
# Traverse through the list x but print only those elements that are divisible by 2
for i in x:
    if i%2 == 0:
        print(i)
    
for i in x:
    print(i)

y = [1, 'Vodafone', 3, 'Hello']

# Traverse the list y but print only those elements that are of integer type
for i in y:
    if type(i) == int:
        print("Last exercise: {}".format(i))

39
7
35
Second exercise : 8
Second exercise : 25
8
8
25
39
7
35
Last exercise: 1
Last exercise: 3

In [36]:
x = [8, 25, 39, 7, 35]
k=x[2:]
print(y)

for i in k: 
    print (i) 

for i in range(0,2): 
    print (x[i]) 
       
      
y=[1,'Vodafone', 3,'Hello']


for i in range(len(x)):
    if x[i] %2 == 0:
        print(x[i])
print('....')        
for i in range(len(y)):
    if type(y[i]) == int: #y[i] == int 3 != int
        print(y[i])

[1, 'Vodafone', 3, 'Hello']
39
7
35
8
25
8
....
1
3

In [37]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[4:]



# print the last 5 indexes of x

# print first 3 indexes of x

# print a sub-list starting from 5th index to the 8th


# modify the 2nd, 3rd, and 4th index to be 25, 30, and 35 respectively

[5, 6, 7, 8, 9, 10]

#### isinstance():
It is a function that is used to check if a variable belongs to a particular type. Returns True if a variable belongs to the type specified, False otherwise.
**Syntax: ** `isinstance(x, type)`

The type arguments are:
1. integer - `int`
2. floating point - `float`
3. string - `str`

Now, give the last question a shot!

#### List Methods

There exists few handy methods that can be used with a list that can be used to modify or extract elements from it.

Here is a list of them:

1. `append`: Adds an element to the end of a list
2. `count`: Returns the number of times element x appears in a list.
3. `extend`: Appends all the elements in a list to the original list
4. `index`: Returns the index of the first occurrence of element x in a list
5. `insert`: Inserts an element x at a given index. Note that the first element in the list has index 0
6. `remove`: Removes the first occurrence of element x a the list
7. `reverse`: Reverses a list
8. `sort`: Sorts the elements in a list in ascending order

Here are the examples that show each of their usage.

In [38]:
a = [2, 6, 1, 5, 65, 27, 6]

# append - can only append one element at a time
# a[6] = 10 is invalid!
a.append(10) # appending 10 to the end of list
print ("Appended List: ", a)

# count
print ("Count of 6 in 'a' is:", a.count(6))

b = [25, 46]
# extend - add elements of b to the end of list
# syntax list_1.extend(list_2)
a.extend(b)
print ("'a' extended with 'b' is:", a)

# index
print ("Index of 1 in 'a' is:", a.index(1))

# insert - 3 in the 5th position(index 4)
# syntax: insert(position, element)
a.insert(4, 3) # note how nothing is replaced but everything from index 4 is now pushed to the right by 1
print ("'a' with 3 in the 5th position is:", a)

# remove - remove the 3 inserted
# syntax: list.remove(element)
a.remove(3)
print ("'a' with 3 removed is:", a)

# reverse
a.reverse()
print ("'a' reversed is:", a)

# sort
a.sort()
print ("'a' sorted in ascending order is:", a)

# Finally, delete 'a'
del(a)

Appended List:  [2, 6, 1, 5, 65, 27, 6, 10]
Count of 6 in 'a' is: 2
'a' extended with 'b' is: [2, 6, 1, 5, 65, 27, 6, 10, 25, 46]
Index of 1 in 'a' is: 2
'a' with 3 in the 5th position is: [2, 6, 1, 5, 3, 65, 27, 6, 10, 25, 46]
'a' with 3 removed is: [2, 6, 1, 5, 65, 27, 6, 10, 25, 46]
'a' reversed is: [46, 25, 10, 6, 27, 65, 5, 1, 6, 2]
'a' sorted in ascending order is: [1, 2, 5, 6, 6, 10, 25, 27, 46, 65]

#### List Comprehension

List comprehension is a compact way to create a list. It can be initialized using for loop, `if` statements can be used to condition on the elements being added to the list. List comprehensions can be used to traverse another list and build a new one.

Take a minute to slowly go through these examples and get the flavour of what is going on in them.

In [39]:
# Create a list having first 10 integers including 0
# Without list comprehension
a = [] # empty list
for i in range(10):
    a.append(i) # append an element
print ("'a' without list comprehension:", a)

del(a) # delete a

# Using list comprehension
a = [i for i in range(10)]
print ("'a' with list comprehension:", a)

'a' without list comprehension: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
'a' with list comprehension: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

What happened here? Let us break it down
- `range(10)`: returns the integers from 0 to 9
- `for i in range(10)`: iterates through every element with `i` taking on the numbers
- `i for i in range(10)`: is a generator feeding the value of `i` by iterating through the numbers
- `[i for i in range(10)]`: encapsulates the result into a list

Take a minute to understand this and the rest of the following examples

In [40]:
# Create a list of multiples of 2 between 0 to 15
a = [i for i in range(15) if i % 2 == 0]
print (a)

[0, 2, 4, 6, 8, 10, 12, 14]

In [41]:
# Create a list that contains twice the value of all the elements of another list
x = [3, 45, 2, 6, 9] # base list
a = [i * 2 for i in x]
print (a)

[6, 90, 4, 12, 18]

In [42]:
# Create a list containing elements of a list that corresponds to a True index in a boolean list
bool_list = [True, False, False, False, True, True] 
x = [2, 4, 6, 8, 10, 12]
a = [x[i] for i in range(len(x)) if bool_list[i] == True]
print (a) # a = [2, 10, 12]

[2, 10, 12]

In [43]:
# Create a list containing elements of a list that corresponds to those indexes of another list whose values are lesser than 5
x = [2, 34, 65, 1, 75] # base list
y = [2.3, 6.7, 9.01, 1.65, 5] # compare list
a = []

print (a)

[]

In [44]:
# Create a list containing elements of a list that corresponds to a True index in a boolean list
# AND sort the new list
bool_list = [False, True, True, False, True, True] 
x = [2, 204, 75, 8, 4, 145]
a = []
a = [x[i] for i in range(len(bool_list)) if bool_list[i] == True]
a.sort()
print (a) # a = [4, 75, 145, 204]

[4, 75, 145, 204]

In [45]:
# Repeat the same but also taking in only the elements divisible by 4

a = [a[i] for i in range(len(a)) if a[i]%4 == 0]
print (a)

[4, 204]

In [46]:
# consider two lists
a = [1, 2, 3, 4]
#b = [1, 4, 9, 16]
b = []
# Implement the equivalent of the following using list comprehension

b = [a[i]*2 for i in range(len(a))]
print(b)
"""
for i in range(len(a)):
    print ("The square of {} is {}".format(a[i], b[i]))
 """   
# print (["The square of {} is {}".format(a[i], b[i]) for i in range(len(a))])

# Using zip
print (["The square of {} is {}".format(x[0], x[1]) for x in zip(a, b)])

[2, 4, 6, 8]
['The square of 1 is 2', 'The square of 2 is 4', 'The square of 3 is 6', 'The square of 4 is 8']

#### Zip of lists
Zipping of lists combines every corresponding element into a tuple(explained later) and builds a new list. The important criterion for zipping is that the to be zipped lists must be of same length.

To give an intuition with what happened in the above case,

In [47]:
print ("a:", a)
print ("b:", b)
print ("a and b zipped:", list(zip(a, b)))

a: [1, 2, 3, 4]
b: [2, 4, 6, 8]
a and b zipped: [(1, 2), (2, 4), (3, 6), (4, 8)]

### Tuples

Tuples are similar to lists. Notice in the zip example how the pairs are structured using `()`? That is how a tuple is housed - between paranthesis and values separated by commas.

This is not the major difference between lists and tuples. Unlike lists, tuples are immutable meaning once a tuple is initialized, it cannot be modified or changed. Therefore the list methods such as append, remove, insert, replace or reverse will not work with tuples.

When do we use tuples? Naturally when we have a set of values that we do not want to change over the lifetime of a code.

For eg:
1. Switch conditions: `('on', 'off')`
2. Discount Rate: `(0, 25, 50, 75)`

However, `len()`, slicing, traversing, and accessing a tuple are similar to that of lists. `in` and `not in` operators also work the same way.

Here are few examples:

In [48]:
# Empty tuple
t = ()

# Tuple with elements
switch = ('on', 'off')
switch = tuple(['on', 'off'])


# Length of tuple
len_switch = len(switch)
print(len_switch)

# Traversing through tuples
print ("Traversing through switch")
for i in switch:
    print (i)
    
# Accessing tuple index
print ("Accessing tuple:", switch[0])

# tuples are immutable
#switch[0] = 'turn it on' # Error

# slicing tuples
t_2 = (1, 2, 3, 4, 5)
sliced_tuple = t_2[:2]

# in and not in operator
print ('Example for in:', 3 in t_2)
print ('Example for not in:', 'not on' not in switch)

2
Traversing through switch
on
off
Accessing tuple: on
Example for in: True
Example for not in: True

### Dictionaries

Dictionaries are data structures that store values in a key-value pair. This enables quick retrieve, addition, removal, modification of values using the keys. 

Dictionaries are mutable meaning they can be altered after initialization.

Dictionaries are initialized between `{}` and the key-value pairs seperated by commas.

**Syntax:** dict_instance = {key_1: value_1, key_2: value_2, ..key_n: value_n}

Let us take a simple example:

In [49]:
employee_salary = {
    'John': 25000,
    'Mitch': 30000
}

`employee_salary` is a dictionary having a key(name)-value(salary) pair of employees a company and their salary. 

- Each key must be unique, values need not be.
- The type of the `keys` must be hashable which means those values should not change in the lifetime of the code. `value` can be of any type.

Empty dictionaries are initialized by a simple pair of curly braces.

Just like lists, `len(dict_name)` yields the length of the dictionary object.

To get an item from a dictionary, the following is the syntax:
`dict_name[key]`

Retrieval of items from a non-existent key is invalid.

Modification of an item is done by:
`dict_name[key] = new_value`

Addition of a new item is possible. A unique key needs to be defined.
`dict_name[new_key] = new_value`

Deletion of an item is done so:
`del dict_name[key]`

In [50]:
# empty dictionary
emp_dict = {}

# Accessing an item
print ("Salary of Mitch is:", employee_salary['Mitch'])

# Modification of an item
employee_salary['John'] = 45000
print ("Dictionary with modification:", employee_salary)

# Addition of an item
employee_salary['Susan'] = 85000
print ("Dictionary with new item added:", employee_salary)

# Deletion of an item
del employee_salary['Mitch']
print ("Dictionary with deletion of item", employee_salary)

Salary of Mitch is: 30000
Dictionary with modification: {'John': 45000, 'Mitch': 30000}
Dictionary with new item added: {'John': 45000, 'Mitch': 30000, 'Susan': 85000}
Dictionary with deletion of item {'John': 45000, 'Susan': 85000}

#### Traversing through dictionary items

Dictionary items can be traversed using `for` loops by iterating through the dictionary keys.

**Syntax:**
```
for i in dict_name:
    print ("Key: {}, value: {}".format(i, dict_name[i]))
```

#### `in` and `not in` operators

Similar to lists, these operators work in a key existing in a dictionary or not.

Let us look at respective examples

In [51]:
# Traversing example

for i in employee_salary:
    print ("Key: {}, value: {}".format(i, employee_salary[i]))
    
# in and not in operators
if 'Susan' in employee_salary:
    print ("Susan is present")
if 'Mitch' not in employee_salary:
    print ("Mitch is not present")

Key: John, value: 45000
Key: Susan, value: 85000
Susan is present
Mitch is not present

#### Dictionary methods

The following is a list of methods that are normally used with a dictionary:

1. clear(): Delete everything from dictionary
2. keys(): Return keys in dictionary as tuples
3. values(): Return values in dictionary as tuples
4. items(): Returns tuples of key-value pairs of the dictionary

Let us explore these using examples:

In [52]:
# print keys of dictionary
print (employee_salary.keys())

# print values of dictionary
print (employee_salary.values())

# print items of the dictionary
print (employee_salary.items())

# clear a dictionary
es_copy = employee_salary.copy() # creates a copy of an object
print ("Copied dictionary", es_copy)
es_copy.clear()
print ("Cleared dictionary", es_copy)

dict_keys(['John', 'Susan'])
dict_values([45000, 85000])
dict_items([('John', 45000), ('Susan', 85000)])
Copied dictionary {'John': 45000, 'Susan': 85000}
Cleared dictionary {}

In [53]:
# Exercise: Traverse the employee_salary dictionary using comprehension

employee_salary = {
    'John': 25000,
    'Mitch': 30000,
    'Susan': 50000
}
    
a = [employee_salary[i] for i in employee_salary]


print (["Key: {}, value: {}".format(k, v) for k, v in employee_salary.items()])

['Key: John, value: 25000', 'Key: Mitch, value: 30000', 'Key: Susan, value: 50000']

## Functions in Python

<a id="func"></a>

Functions are re-usable piece of code that helps organize the code in a more readable and compact way.

To give an intuition of why functions are used. Imagine a scenario where we need to sum a range of integers from 10 to 30. The code equivalent of this is
```
sum = 0
for num in range(10, 31):
    sum += num
print (sum)
```
Next, say we get a scenario of summing another range of integers from 50 to 80, later from 10 to 100. It is practically inconvenient to run the code segment every time the situation occurs. Not only does it make the code ugly and long but raises inconvience to repeat the task with different values every time.

Functions mitigate this issue by building a block of code with generic inputs and a single output tailored to the inputs. The generic inputs are called arguments that take in values from the code and yields the corresponding output.

**Syntax:**
Functions are defined by the keyword `def` followed by the function name. Note the identation. The entire function body must be idendated by a single tab space.

```
def function_name(arg_1, arg_2, ..., arg_N):
    function_body
    return_statement # if any
```
Let us take a look at the above problem in the form of a function

In [54]:
# function definition
def sum_of_range(start, end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
        
    print ("Sum of integers from {} to {} is {}".format(start, end, sum))
    
# calling the function
sum_of_range(10, 30) # 10 takes on start and 30 takes on end
sum_of_range(35, 60)
sum_of_range(0, 30)





a=10
def temp_conversion(a):
    return ((a-32) * 5/9)

# calling the function
res = temp_conversion(a)
print ("Fahrenheit in Celsius :", res) 

# GLOBAL
b=[100,200,300]
f = []

def temp_conversion(c,f): # A = LOCAL TO TEMP_conversion

    for i in range(len(c)):

        f.append((c[i]-32)*5/9)


        print( "C Conversion {} to F is : {}".format(c[i],f[i]))
      
      

temp_conversion(c=b,f=f)


b=[100,200,300]
f = []

def temp_conversion(c): # A = LOCAL TO TEMP_conversion
    for i in range(len(c)):
        print((c[i]-32)*5/9)

          

temp_conversion(c=b)

Sum of integers from 10 to 30 is 420
Sum of integers from 35 to 60 is 1235
Sum of integers from 0 to 30 is 465
Fahrenheit in Celsius : -12.222222222222221
C Conversion 100 to F is : 37.77777777777778
C Conversion 200 to F is : 93.33333333333333
C Conversion 300 to F is : 148.88888888888889
37.77777777777778
93.33333333333333
148.88888888888889

Notice how simple that was? Functions need definition only once and can be called by a single line any number of times with appropritate arguments during the lifetime of the code.

Does a function always need arguments? No. There could be functions with no arguments

### Positional and Keyword Arguments

Do we need to pass all the arguments a function accepts every time? No. Many a times, we have default values for certain arguments in the definition. These values can be overridden by explicitly passing them while calling the function.

NOTE: The rule for passing default arguments is that default arguments must always follow non-default arguments during definition 

Take a look at the following examples to get an idea of the two scenarios.

In [55]:
# functions with no arguments
def print_hello():
    print ("Hello, you have called a function with no arguments")
    
a = 5
print_hello()
b = 20
print_hello()

Hello, you have called a function with no arguments
Hello, you have called a function with no arguments

In [56]:
# functions with default arguments

def default_arg_function(should_print=False):
    if should_print:
        print ("I have been asked to print by overriding the default argument")
    else:
        print ("I will not print")

# Invalid definition
# default_arg_function(should_print=False, a, b):
        
# call the function
default_arg_function()
# override default argument
default_arg_function(True) 
default_arg_function(False)

I will not print
I have been asked to print by overriding the default argument
I will not print

Notice how appropriate statements are executed with and without an argument being passed. We can combine parameters with only few of them given default values. Let us take a look

In [57]:
# get exponent of a given base

def get_exponent(base, exp=2): # exp is given a default value of 2
    print ("{} raised to {} is {}".format(base, exp, base ** exp))
    
# with only one argument, a takes on the value passed and exp defaults to 2
get_exponent(5) # prints 25

# if both base and exp are passed, exp is overridden with the value passed
get_exponent(7, 3) # prints 343

5 raised to 2 is 25
7 raised to 3 is 343

This kind of argument passing is called positional argument passing. This means that the position of the arguments matter. Switching the first and second arguments while calling the functions yields a different answer in the above case.

In [58]:
# switching 7 and 3 in calling the above function
get_exponent(3, 7) # prints 2187

3 raised to 7 is 2187

Keyword Arguments are a way to pass arguments with name value pairs like `name=value`. This way, the order of passing arguments become independent. Let us take the same example with keyword arguments

In [59]:
# call get_exponent with keyword arguments
get_exponent(base=7, exp=3) # prints 343
get_exponent(exp=3, base=7) # prints 343

7 raised to 3 is 343
7 raised to 3 is 343

### Mixing both keyword and positional arguments

Mixing of both keyword and positional arguments during function call is valid as long as positional arguments occur before keyword arguments.

In [60]:
# define a function
def get_expression(a, b, c):
    print ("Expression: ", (a + b - c))
    
# Call using positional arguments only
get_expression(10, 25, 5) # prints 30

# call using keyword arguments only
get_expression(b=40, a=85, c=2) # prints 123

# call using both positional and keyword arguments
get_expression(15, c=10, b=5) # prints 10 - a takes on 15
get_expression(15, 10, c=10) # prints 15 - a takes on 15, b takes on 10
# get_expression(10, a=20, c=3) # invalid
# get_expression(a=10, b=15, 30) # invalid

Expression:  30
Expression:  123
Expression:  10
Expression:  15

### Functions with return value

In all the above cases, the functions were simply printing the results computed by the function. This is not always fruitful. The flavour of functions are in returning the computed values back to the main body of the code to use these results for further computations. 

- Return value needs to be assigned to a variable
- Multiple values can be returned
- Lists, dictionaries, or tuples can be returned

Let us take a look at few examples to understand the syntax

In [61]:
# returning a single value
def get_expression(a, b, c):
    return a + b - c # notice the return expression

# calling the function
res = get_expression(1, 5, 3)
print ("Expression using return:", res)

# returning multiple values
def get_sum_and_diff(a, b):
    sum_res = a + b
    diff_res = a - b
    # returning multiple values are separated by commas
    return sum_res, diff_res # return a + b, a - b is also valid
    

# calling the function and storing in two variables
s, d = get_sum_and_diff(10, 5)
print ("Sum: {}, Diff: {}".format(s, d))

# returning a list

def list_of_ints(start, end):
    if (start > end):
        print ("Start value must be lesser than the end value")
        return # returns nothing or None
    else:
        return list(range(start, end + 1))

# Calling the function
int_list_1 = list_of_ints(5, 10) # returns [5, 6, 7, 8, 9, 10]
print ("Type of int_list_1:", type(int_list_1))
int_list_2 = list_of_ints(10, 5) # prints warning message

Expression using return: 3
Sum: 15, Diff: 5
Type of int_list_1: <class 'list'>
Start value must be lesser than the end value

Notice the last case where the warning message was printed? What was the returning value there? Nothing! When there's a case where we simply want the function to return back to the main body after executing a set of statements, a simple `return` with no value is written. Usually, there is a conditional weighing this return with an `else` condition returning a value.

### Lifetimes of variables

When dealing with functions, there are two types of variables:
1. global variables
2. local variables

Let us bring back one of the above examples:

```
def get_sum_and_diff(a, b):
    sum_res = a + b
    diff_res = a - b
    # returning multiple values are separated by commas
    return sum_res, diff_res
    

# calling the function and storing in two variables
first_value = 10
second_value = 5
s, d = get_sum_and_diff(first_value, second_value)
```
What are the variables involved here?
`first_value, second_value, s, d, a, b, sum_res, diff_res`. Take a minute to observe the location of occurances of each variable - inside the function or in the main body?

`first_value, second_value, s, d` are called **global variables** since they occur in the main body of the code. The lifetime of the global variables is equal to the lifetime of the code. The definition of lifetime is the validity of an object in question. 

`a, b, sum_res, diff_res` are called **local variables** since they occur only in the function body. The lifetime of local vatiables is equal to the lifetime of the function - which is as long as a function call is being interpreted. After the function call is complete, the memory used to hold these variables are released and the values are lost - hence the return calls to save them as global variables in the main body.

In the above case, printing or accessing the value of any of the local variables in the main body will result in an error since they are no longer valid. Say,
```
s, d = get_sum_and_diff(first_value, second_value)
print (s, d, first_value, second_value) # valid
print (a) # invalid
print (sum_res) # invalid
```
But is it possible to make local variable accessible as a global variable? The answer is 'Yes' - using a simple keyword, `global`. For example,

In [62]:
# global variables
first_value = 25
second_value = 5

def get_sum_and_diff(a, b):
    global sum_res # making sum_res global
    sum_res = a + b 
    diff_res = a - b
    # returning multiple values are separated by commas
    return sum_res, diff_res


s, d = get_sum_and_diff(first_value, second_value)
print ("Sum printed using local variable sum_res:", sum_res)
#print ("Sum printed using local variable sum_res:", diff_res)# diff_res is not global var.
print ("Sum printed using returned global variable s:", s)
del sum_res # delete from memory

Sum printed using local variable sum_res: 30
Sum printed using returned global variable s: 30

Evaluate what happened. The local variable `sum_res` whose lifetime(also called scope) is otherwise bound to that of the function is now valid even outside the function

### Lambda Functions

One of the strengths of Python is the availabiluty of anonymous functions. These are the type of functions that do not have any name since they are simple enough to be excuted in a single expression.

These functions are called lambda functions and are invoked by using the keyword `lambda`. Lambda functions do not have return values but take in arguments.

**Syntax: ** `lambda arg_1, arg_2, ..., arg_N: <single expression using the arguments>`

There is a lot going on here. Let us visit it with an example.

Consider the function to add two numbers:

In [63]:
# normal function definition
def get_sum(a, b):
    return a + b

# Function call
print ("Sum using function definition:", get_sum(12, 5))

# Lambda function definition
lambda_sum = lambda a, b: a + b
print ("Sum using lambda function:", lambda_sum(12, 5))

Sum using function definition: 17
Sum using lambda function: 17

What did we do here? Lambda function did the same job as the conventional `def` but notice how simple it was - no need to return any values, no need to name the function and the variable `lambda_sum` houses it. A simple argument passing to this variable will give out the function's result. In fact, even the object `lambda_sum` can be eliminated to make the call even more simpler like so:

In [64]:
print ("Sum using lambda without a variable:", (lambda a, b: a + b)(12, 5))

Sum using lambda without a variable: 17

Take a minute to see what happened and take in the flavour of lambda functions. It can be confusing at first, but getting the hang of it would save you a lot of time!

Let us work on few exercises to familiarize ourselves with lambda functions:

In [65]:
# Write a lambda function to take in the following list and square every element

a = [1, 2, 3, 4, 5]
squared_list = [(lambda x: x ** 2)(elem) for elem in a]
print (squared_list)

[1, 4, 9, 16, 25]

Let us walk through each step here:

1. Traverse through list elements using list comprehension

```
[elem for elem in a] # yields [1, 2, 3, 4, 5]
```
2. Call `lambda` function to compute square on each element as if performing it on a single argument
```
(lambda x: x ** 2)(elem) # if elem=2, lambda returns 4
```
3. Combine step 1 and 2 to yield a single list of squares
```
[(lambda x: x ** 2)(elem) for elem in a] # yields [1, 4, 8, 16, 25]
```

Technically speaking, lambda is not required for this task but a simple list comprehension would do the job. This was done to give you an idea of using lambdas on lists. Can you do the same using just list comprehension?

## File Handling in Python

<a id="file"></a>

What good is a programming language without the strength of reading and writing files to the disk?!

Python allows file handling natively and it is pretty simple. The two operations that a user can perform on a file is eithering reading an existing file or writing into a file.

### Opening a file

The first step in handling a file is to open it. The syntax for opening a file is:

`f = open(filename, mode)`

Here is `f` is the file pointer which will have the necessary information to perform operations on the file in question. It is important to have a file pointer defined. `open` is the command to open the file which is named `filename`. Note that `filename` needs to be specified with a relative or absolute path and format along with the file name. 

For example: `filename = '../storyline/story.txt'`

This is bash directory navigation. <br>
`./` -> Current directory  <br>
`../` -> One directory above. Equivalent to pressing 'up' or 'back'. Repeating it 'n' times will point to 'nth' directory above. <br>
For example, `../../` is equivalent to pressing 'back' twice <br>
`/storyline` -> entering the folder name 'storyline' <br>
`story.txt` -> file name with extension <br>

So the above line roughly translates to:

"Go back one level in the hierarchy of directories and into the 'storyline' folder. Inside this folder, 'story.txt' is the file required". And `filename` is a string that contains the path to the file.

NOTE: Filenames and paths are always supposed to be fed as strings
`filename = ./story.txt` is invalid since it is not a string.

So the command to open the file, 'story.txt' is now:

`f = open('../storyline/story.txt', mode)`

We have not dicussed 'mode' yet. Mode defines the action we intend to perform on a file when we open it. The different modes are:

1. "r": Open a file for read only. Cannot read a non-existent file
2. "w": Open a file for writing. If file already exists its data will be cleared before opening. Otherwise new file will be created
3. "a": Opens a file in append mode i.e to write a data to the end of the file
4. "wb": Open a file to write in binary mode
5. "rb": Open a file to read in binary mode

We will mostly deal with the first three for now.

Finally, the command to open the file in read mode is

`f = open('../storyline/story.txt', 'r')`

**NOTE: **One important thing to remember while opening a file is to close the file after all the operations are done. This is important because if the files are not closed, chances are that eventually the memory(RAM) might be bottlenecked. Python has something called garbage collection that might handle this situation but it is always good practise to close it.

An opened file can be closed like so:

`f.close() # f being the file pointer`

### Writing to a file

Let us look how we can write into a file by opening it. If `f` is a file pointer, then one can write into a file using `f.write`. Let us take a look using an example.

In [66]:
f = open('my_first_file.txt', 'w') # open a file, if the file does not exist, it is created

You must be seeing the text file in your current working directory now. 

Anything that is written, including numeric values must be of type string. If you are writing a variable that is non-string, use type conversion `str()` to convert to string.

Note that `write` does not add explicit new line breaks. You can add one by simply adding '\n' at the end of the string.

In [67]:
# write a line
f.write('This is the first line\n') # writes the string in the first line and goes to second

# add another one
f.write('This is the second line\n')

# finally, close the file
f.close()

Using file explorer, open the text file and take a look at it. Pretty neat, right?

Let us now read that file and print its content here. 

Reading can be done multiple ways:
1. read(a_number) reads the specified number of characters from a file. If no number is specified, the entire content is read as raw text
2. readline() reads the next line of a file. If it is called the first time, then it reads the first line
3. readlines() reads all the lines of the file as a list of strings

Let us try them all.

First, open the file

In [68]:
# opening the file. Press tab while typing the filename to auto-complete
f = open('my_first_file.txt', 'r')

# read 25 characters
print (f.read(25))

# close file
f.close()

This is the first line
Th

In [69]:
f = open('my_first_file.txt', 'r')

# read entire content
print (f.read())

f.close()

This is the first line
This is the second line

In [70]:
f = open('my_first_file.txt', 'r')

# read all lines
print (f.readlines())

f.close()

['This is the first line\n', 'This is the second line\n']

In [71]:
f = open('my_first_file.txt', 'r')

# read only one line
print (f.readline())

f.close()

This is the first line

In [72]:
f = open('my_first_file.txt', 'r')

# read two lines
print (f.readline())
print (f.readline())

f.close()

This is the first line

This is the second line

Notice how calling `readline()` twice read two lines of the file?

Let us look at appending data to this file. We will write multiple lines using `writelines()`

In [73]:
# define content
content = 'This is the third line\nThe Earth is the third planet in the Solar System\nIt has 7 continents\n'

# open the file in append mode
f = open('my_first_file.txt', 'a')

# write lines using the content string
f.writelines(content)

# finally, close the file
f.close()

Open up the text file and take a look at what has been written.

Notice we used 'a' as the mode. What do you think would happen if 'w' was used instead. Try it out!

We can also read the lines in a file using loops like so:

In [74]:
# open file
f = open('my_first_file.txt', 'r')

# line takes on a single line of the file pointed by f
for line in f:
    print (line)

# close file
f.close()

This is the first line

This is the second line

This is the third line

The Earth is the third planet in the Solar System

It has 7 continents

### `with` and file handling

Since a file when opened needs explicit `close()` call to close the file, `with` statement can be used to handle this case to implicitly close the file.

`with` statement is used to execute two related operations as a pair with a block of code in between. In the case of file handling, `with` handles the opening of a file, manipulation of a file and finally, implicit closure of the file. Manipulation would be the block of code that comes in between.

**Syntax: **<br>
```
with 'operation' as f:
    block of code to do using f # Note the indent
    
```
After the indentation ends, the pair of the `operation` with which `with` was used is executed automatically.

Let us take an example of file handling to read the same file using `with`:

In [75]:
with open('my_first_file.txt', 'r') as f: # opens the file with f as pointer
    # block of code of file handling begins
    # read line-by-line using loops
    for line in f:
        print (line)
    # end of block. Note how we are not closing the file

This is the first line

This is the second line

This is the third line

The Earth is the third planet in the Solar System

It has 7 continents

Let us do it again, this time to append a line to the file.

In [76]:
with open('my_first_file.txt', 'a') as f:
    # write a line
    f.write('I was written using with statement\n')
    # end of block

Finally, we can open a file on read+write mode to read and write with the same open statement. The modes can be:

1. 'r+'
2. 'w+'
3. 'a+'

Experiment with these modes and see how each of them behave. Here's an example to one of them

In [77]:
with open('my_first_file.txt', 'r+') as f:
    # write a line
    f.write('I am a line in r+ mode\n')
    # read all lines
    print (f.readlines())
    
    # end of block

['This is the first line\n', 'This is the second line\n', 'This is the third line\n', 'The Earth is the third planet in the Solar System\n', 'It has 7 continents\n', 'I was written using with statement\n']