# Pandas: Operaciones básicas (II)

In [1]:
import numpy as np
import pandas as pd

## Indexación y slicing en pandas

**Además de** poder **reutilizar los métodos de indexación y slicing de NumPy** sobre Series y DataFrames (con las limitaciones ya comentadas), **pandas** pone a nuestra disposición **nuevos métodos de indexación** que permiten tener un mayor control sobre la misma y superar las limitaciones que nos impone NumPy sobre este tipo de estructuras. Veamos todas las posibles combinaciones.<br/>

#### Indexación por atributo de clave

Podemos indexar un elemento concreto de una Serie o una columna concreta de un DataFrame mediante el uso de su etiqueta/clave como atributo, con sintaxis obj.etiqueta.

In [2]:
serie = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
serie['a']

1

In [3]:
serie.a

1

In [4]:
dataframe = pd.DataFrame(np.arange(16).reshape(4, 4), index=['f1', 'f2', 'f3', 'f4'], columns=['c1','c2','c3','c4'])
dataframe.c1

f1     0
f2     4
f3     8
f4    12
Name: c1, dtype: int32

In [5]:
dataframe

    c1  c2  c3  c4
f1   0   1   2   3
f2   4   5   6   7
f3   8   9  10  11
f4  12  13  14  15

#### Indexación con sintáxis [ ] directa

<table>
<tr>
<th>Tipo</th>
<th>En Series</th>
<th>En DataFrames</th>
</tr>
<tr>
<td>obj[num_val]</td>
<td>Selección por posición (salvo si el índice es numérico)</td>
<td>Selección por clave de columna</td>
</tr>
<tr>
<td>obj[key]</td>
<td>Selección por clave</td>
<td>Selección por clave de columna</td>
</tr>
<tr>
<td>obj[num_val1:num_val2]</td>
<td>Selección por posición (salvo si el índice es numérico)</td>
<td>Selección por posición de fila (salvo si el índice de filas es numérico)</td>
</tr>
<tr>
<td>obj[key1:key2]</td>
<td>Selección por clave</td>
<td>Selección por clave de fila</td>
</tr>
<tr>
<td>obj[[num_val1,..,num_valn]]</td>
<td>Selección por posición (salvo si el índice es numérico)</td>
<td>Selección por posición de columna</td>
</tr>
<tr>
<td>obj[[key1,..,keyn]]</td>
<td>Selección por clave</td>
<td>Selección por clave de columna</td>
</tr>
<tr>
<td>obj[condition]</td>
<td>Selección por estructura booleana</td>
<td>Selección por estructura booleana</td>
</tr>
</table>

In [6]:
serie

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
serie[0]

1

In [8]:
dataframe['c3']

f1     2
f2     6
f3    10
f4    14
Name: c3, dtype: int32

#### Indexación con método .loc - Por claves

<table>
<tr>
<th>Tipo</th>
<th>En Series</th>
<th>En DataFrames</th>
</tr>
<tr>
<td>obj.loc[key]</td>
<td>Selección por clave</td>
<td>Selección por clave de filas</td>
</tr>
<tr>
<td>obj.loc[key1:key2]</td>
<td>Selección por clave</td>
<td>Selección por clave de filas</td>
</tr>
<tr>
<td>obj.loc[[key1,...,keyn]]</td>
<td>Selección por clave</td>
<td>Selección por clave de filas</td>
</tr>
<tr>
<td>obj.loc[condition]</td>
<td>Selección por estructura booleana</td>
<td>Selección por estructura booleana sobre filas</td>
</tr>
<tr>
<td>obj.loc[sel1, sel2]</td>
<td>ERROR</td>
<td>Selección por clave de fila (sel1) y columna (sel2). Selectores: clave, slice, secuencia o condición</td>
</tr>
</table>

In [18]:
serie.loc['b']

2

In [ ]:
serie.loc[0] #Falla porque esta serie no tiene index=0

In [15]:
dataframe.loc[:,'c2']

f1     1
f2     5
f3     9
f4    13
Name: c2, dtype: int32

#### Indexación con método .iloc - Por índices

<table>
<tr>
<th>Tipo</th>
<th>En Series</th>
<th>En DataFrames</th>
</tr>
<tr>
<td>obj.iloc[num_val]</td>
<td>Selección por posición</td>
<td>Selección por posición de filas</td>
</tr>
<tr>
<td>obj.iloc[num_val1:num_val2]</td>
<td>Selección por posición</td>
<td>Selección por posición de filas</td>
</tr>
<tr>
<td>obj.iloc[[num_val1,...,num_valn]]</td>
<td>Selección por posición</td>
<td>Selección por posición de filas</td>
</tr>
<tr>
<td>obj.iloc[sel1, sel2]</td>
<td>ERROR</td>
<td>Selección por clave de fila (sel1) y columna (sel2). Selectores: posición, slice o secuencia</td>
</tr>
</table>

In [16]:
serie.iloc[0] # Aquí 0 hace referencia a la posición, no al nombre del index.

1

In [19]:
dataframe

    c1  c2  c3  c4
f1   0   1   2   3
f2   4   5   6   7
f3   8   9  10  11
f4  12  13  14  15

In [21]:
'''
Primera posición en [a,b] hace referencia a los index de la filas y la segunda a los de las columnas
'''
dataframe.iloc[:, 2]

f1     2
f2     6
f3    10
f4    14
Name: c3, dtype: int32

## Índices jerárquicos en pandas

Los índices jerárquicos de 'pandas' permiten tener **más de un nivel en cualquiera de los índices de una estructura**. Esto puede servir para **agrupar más claramente los datos**, o para conseguir identificar las filas por una clave única. En cierto modo, también es una forma de poder trabajar con tablas de más de dos dimensiones.

In [68]:
'''
El indice es compuesto ahora:
index = [[2014, 2014, 2013, 2013], ['Godzilla', 'El Hobbit III', 'El lobo de Wall Street', 'Gravity']]

'''

peliculas = pd.DataFrame(
            {'Valoración':[6, None, 8.75, None],
             'Presupuesto':[160, 250, 100, None],
             'Director':['Peter Jackson', 'Gareth Edwards', 'Martin Scorsese', 'Alfonso Cuarón']},
            index = [[2014, 2014, 2013, 2013], ['Godzilla', 'El Hobbit III', 'El lobo de Wall Street', 'Gravity']]
)
peliculas

                             Valoración  Presupuesto         Director
2014 Godzilla                      6.00        160.0    Peter Jackson
     El Hobbit III                  NaN        250.0   Gareth Edwards
2013 El lobo de Wall Street        8.75        100.0  Martin Scorsese
     Gravity                        NaN          NaN   Alfonso Cuarón

A partir de la construcción del índice jerárquico, podemos hacer indexaciones totales (mediante tuplas) o parciales (mediante selección de uno de los elementos del índice).

In [69]:
# Indexación total

peliculas.loc[(2014, 'Godzilla')]

Valoración                 6
Presupuesto              160
Director       Peter Jackson
Name: (2014, Godzilla), dtype: object

In [70]:
# Indexación parcial
peliculas.loc[2014]

               Valoración  Presupuesto        Director
Godzilla              6.0        160.0   Peter Jackson
El Hobbit III         NaN        250.0  Gareth Edwards

**Podemos pasar niveles del índice jerárquico de las filas a las columnas mediante la función unstack**, como si de una Pivot Table de Excel se tratase. Con **stack** realizarmeos la **operación contraria**.

In [71]:
# Pasamos el último nivel del índice de filas al de columnas
peliculas_2 = peliculas.unstack()
peliculas_2

        Valoración                                           Presupuesto  \
     El Hobbit III El lobo de Wall Street Godzilla Gravity El Hobbit III
2013           NaN                   8.75      NaN     NaN           NaN
2014           NaN                    NaN      6.0     NaN         250.0

                                                    Director  \
     El lobo de Wall Street Godzilla Gravity   El Hobbit III
2013                  100.0      NaN     NaN             NaN
2014                    NaN    160.0     NaN  Gareth Edwards


     El lobo de Wall Street       Godzilla         Gravity
2013        Martin Scorsese            NaN  Alfonso Cuarón
2014                    NaN  Peter Jackson             NaN

In [67]:
peliculas_2[('Valoración','El lobo de Wall Street')]

2013    8.75
2014     NaN
Name: (Valoración, El lobo de Wall Street), dtype: float64

In [57]:
peliculas

                             Valoración  Presupuesto         Director
2014 Godzilla                      6.00        160.0    Peter Jackson
     El Hobbit III                  NaN        250.0   Gareth Edwards
2013 El lobo de Wall Street        8.75        100.0  Martin Scorsese
     Gravity                        NaN          NaN   Alfonso Cuarón

In [72]:
# Pasamos el último nivel del índice de columnas al de filas
peliculas.stack()

2014  Godzilla                Valoración                   6
                              Presupuesto                160
                              Director         Peter Jackson
      El Hobbit III           Presupuesto                250
                              Director        Gareth Edwards
2013  El lobo de Wall Street  Valoración                8.75
                              Presupuesto                100
                              Director       Martin Scorsese
      Gravity                 Director        Alfonso Cuarón
dtype: object

In [45]:
peliculas_2.stack()

                             Valoración  Presupuesto         Director
2013 El lobo de Wall Street        8.75        100.0  Martin Scorsese
     Gravity                        NaN          NaN   Alfonso Cuarón
2014 El Hobbit III                  NaN        250.0   Gareth Edwards
     Godzilla                      6.00        160.0    Peter Jackson

## Modificación de índices en Pandas

En cualquier momento, podemos descartar el índice de un DataFrame incorporando el mismo como una columna más de nuestros datos. Esto lo haremos mediante la función <b>reset_index</b>. Esto hará que el índice pase a ser una secuencia numérica.

In [48]:
dataframe.reset_index()

  index  c1  c2  c3  c4
0    f1   0   1   2   3
1    f2   4   5   6   7
2    f3   8   9  10  11
3    f4  12  13  14  15

In [49]:
dataframe.reset_index(drop=True) # Si drop=True no incorporamos los antiguos índices a una columna

   c1  c2  c3  c4
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

Del mismo modo, podemos reestablecer un conjunto de columnas como índice de un DataFrame con la función <b>set_index</b>.

In [50]:
dataframe.set_index(['c1'])

    c2  c3  c4
c1
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15