# Pandas: Operaciones básicas (I)

Trataremos aquí las operaciones más básicas que se pueden realizar sobre las estructuras de datos de pandas. Estas operaciones tienen un funcionamiento prácticamente idéntico en Series y DataFrames. En caso de que esto no sea así en algún caso concreto se indicará explícitamente.

In [1]:
import numpy as np
import pandas as pd

## Tratamiento de Series y DataFrames como diccionarios

Dado que internamente tanto las Series como los DataFrames pueden verse como diccionarios, podemos apilcar sobre los mismos cualquier funcionalidad que aplicaríamos sobre diccionarios básicos del core de Python.<br/>
IMPORTANTE: Hay que tener en cuenta que **en DataFrames el diccionario es un diccionario de "columnas".**

In [2]:
serie = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
serie

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
dataframe = pd.DataFrame({'var1': serie, 'var2': serie})
dataframe

   var1  var2
a     1     1
b     2     2
c     3     3
d     4     4

#### Indexación por clave

In [4]:
# Indexación mediante clave del índice en series
serie['a']

1

In [5]:
# Indexación por nombre de columna en dataframes
dataframe['var2']

a    1
b    2
c    3
d    4
Name: var2, dtype: int64

#### Comprobación de la existencia de una clave

In [6]:
# Comprobación de la existencia de una clave en el índice en series
'b' in serie

True

In [10]:
# Comprobación de la existencia de un nombre de columna en dataframes
'var1' in dataframe

True

#### Adición de elementos

<b>IMPORTANTE:</b> Al añadir columnas a un DataFrame, el **tamaño del vector añadido deberá coincidir con el del DataFrame original**. En caso contrario se recibirá un error.

In [11]:
serie

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
# Adición de elementos a series
serie['e'] = 5
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
# Adición de elementos a dataframes
dataframe['var3'] = [5, 6, 7, 4]
dataframe

   var1  var2  var3
a     1     1     5
b     2     2     6
c     3     3     7
d     4     4     4

#### Eliminación de elementos

In [14]:
# Eliminación de elementos en series
del serie['e']
serie

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
# Eliminación de columnas en dataframes
del dataframe['var3']
dataframe

   var1  var2
a     1     1
b     2     2
c     3     3
d     4     4

## Tratamiento de Series y DataFrames como ndarrays

Dado que, internamente, cualquier estructura de **pandas está implementada sobre ndarrays de NumPy**, es posible realizar sobre Series y DataFrames todas las operaciones que se pueden realizar sobre un ndarrays.<br/>

IMPORTANTE: Dado que un ndarray no puede mezclar elementos de diferentes tipos y un DataFrame sí, algunas de las operaciones sobre DataFrames estarán supeditadas a que todas sus columnas tengan el mismo tipo.

In [16]:
serie = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
serie

a    1
b    2
c    3
d    4
dtype: int64

In [17]:
dataframe = pd.DataFrame({'var1': pd.Series(serie, dtype=np.int32), 'var2': pd.Series(serie, dtype=np.string_)})
dataframe

   var1  var2
a     1  b'1'
b     2  b'2'
c     3  b'3'
d     4  b'4'

#### Consulta de la composición

Disponemos de los **mismos atributos de consulta que en ndarrays**, si bien hay que tener en cuenta que:<br/>
<ul>
<li>El atributo <b>dtype</b> será <b>dtypes</b> en DataFrames dada la posibilidad de múltiples tipos.</li>
<li>El atributo <b>ndim en Series siempre valdrá 1</b> dado que siempre son estructuras unidimensionales <b>y 2 en DataFrames</b> dado que siempre son estructuras bidimensionales.</li>
</ul>

In [18]:
# Consulta del tipo almacenado en una serie
serie.dtype

dtype('int64')

In [19]:
# Consulta de los tipos almacenados en un dataframe
dataframe.dtypes

var1     int32
var2    object
dtype: object

In [20]:
# Consulta del número de dimensiones en una serie
serie.ndim

1

In [21]:
# Consulta del número de dimensiones en un dataframe
dataframe.ndim

2

In [22]:
# Consulta de la forma de una serie
serie.shape

(4,)

In [23]:
# Consulta de la forma de un dataframe
dataframe.shape

(4, 2)

In [24]:
# Consulta del número de elementos de una serie
serie.size

4

In [25]:
# Consulta del número de elementos de un dataframe
dataframe.size

8

#### Operaciones con escalares

Al aplicar una operación sobre una estructura de pandas y un escalar se obtendrá otra estructura de pandas de idénticas características a la inicial pero con la **operación aplicada elemento a elemento**, <b>manteniendo el índice inalterado</b>.<br/>

IMPORTANTE: Dado que un DataFrame puede mezclar tipos muy diferentes en sus columnas, la aplicación de una operación con un escalar elemento a elemento puede no ser válida (p.e. operaciones matemáticas sobre cadenas).

In [26]:
# Suma de series y escalar
serie + 2

a    3
b    4
c    5
d    6
dtype: int64

In [27]:
# División de series y escalar
1 / serie

a    1.000000
b    0.500000
c    0.333333
d    0.250000
dtype: float64

In [28]:
# Multiplicación de dataframe y escalar
dataframe * 2

   var1   var2
a     2  b'11'
b     4  b'22'
c     6  b'33'
d     8  b'44'

In [29]:
# División de dataframe y escalar
1 / dataframe #Da error porque una de las columnas es de tipo string.

TypeError: unsupported operand type(s) for /: 'int' and 'bytes'

#### Operaciones entre estructuras de pandas

Al aplicar una operación entre estructuras de pandas se aplicará la misma **elemento a elemento**. **En el caso de pandas no es necesario, como lo era en NumPy, que los operandos tengan el mismo tamaño y forma** ya que se aplicará un **proceso de "alineación"**. Este proceso devolverá:<br/>

- Como **índices**: la **unión de las claves** de ambos operandos.

- Como **valores**: el **resultado de aplicar la operación entre cada pareja** de elementos (**si coinciden las claves** entre ambos operandos) **o NaN (en caso contrario)**.


IMPORTANTE: De nuevo, el hecho de que un DataFrame pueda mezclar tipos en sus contenidos hace que no todas las operaciones matemáticas se puedan aplicar a los mismos.

In [49]:
serie1=serie
serie2 = serie1*2
print(serie1)
print()
print(serie2)

a    1
b    2
c    3
d    4
dtype: int64

a    2
b    4
c    6
d    8
dtype: int64

In [53]:
dataframe1=dataframe
del dataframe1['var2'] # Borramos la columna que no tiene valores numéricos
dataframe2=dataframe*3
dataframe2['var1']=dataframe2['var1']-1
print(dataframe1)
print()
print(dataframe2)

   var1  var3
a     1     1
b     2     2
c     3     3
d     4     4

   var1  var3
a     2     3
b     5     6
c     8     9
d    11    12

In [50]:
# Suma de series
serie1 + serie2

a     3
b     6
c     9
d    12
dtype: int64

In [54]:
# Suma de dataframes
dataframe1 + dataframe2

   var1  var3
a     3     4
b     7     8
c    11    12
d    15    16

In [56]:
# Producto de dataframes
dataframe1 * dataframe2

   var1  var3
a     2     3
b    10    12
c    24    27
d    44    48

#### Trasposición - Sólo DataFrames

Podemos trasponer filas por columnas, pero únicamente en DataFrame (ya que las series sólo pueden ser unidimensionales). Básicamente lo que se realizará es intercambiar el índice de columnas por el de filas.

In [57]:
dataframe

   var1  var3
a     1     1
b     2     2
c     3     3
d     4     4

In [58]:
dataframe.T

      a  b  c  d
var1  1  2  3  4
var3  1  2  3  4

#### Funciones de numpy (Universal functions, operaciones matemáticas...)

**Podemos aplicar cualquier función de NumPy^** a cualquier estructura de pandas.<br/>

<b>IMPORTANTE:</b> De nuevo, al poder tener múltiples tipos en DataFrames no siempre se podrán aplicar las operaciones (o el resultado obtenido no será el esperado). Además, **en el caso de DataFrames en caso de no indicar un valor para axis se aplicará la operación por columnas** y nunca sobre el DataFrame completo.

In [59]:
# Operaciones sobre series
np.sqrt(serie)

a    1.000000
b    1.414214
c    1.732051
d    2.000000
dtype: float64

In [63]:
dataframe2

   var1  var3
a     2     3
b     5     6
c     8     9
d    11    12

In [64]:
# Operaciones sobre dataframes (columna a columna, por defecto)
np.sum(dataframe2)

var1    26
var3    30
dtype: int64

In [65]:
# Operaciones sobre dataframes (especificando eje)
np.sum(dataframe2, axis=1)

a     5
b    11
c    17
d    23
dtype: int64