## Pandas (I) - Ejercicios


Consideramos el siguiente diccionario 'data' y la lista 'labels':

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Crea un DataFrame _df_ a partir de _data_, que tenga como índice _labels_.

**2.** Devuelve las tres primeras filas de _df_.

**3.** Selecciona sólo las columns _animal_ y _age_ del dataframe _df_.

**4.** Selecciona el subconjunto de datos correspondiente a  las filas [4,5,7] and columns `['animal', 'age']`.

**5.** Selecciona sólo las finñas donde el número de visitas es mayor que 3.

**6.** Selecciona las finlas donde animal es un gato *y* la edad es menor que 3.

**7.** Selecciona las finlas donde la edad está entre 2 y 4 (incluidos).

**8.** Cambia la edad de la fila 'f' a 1.5.

**9.** Calcula la suma de todas las visitas (el número total de visitas).

**10.** Inserta una nueva fila 'k' al final de _df_ y rellena las columnas con los valores que quieras.

11. Construye un dataframe llamado peliculas y otro llamado directores con los siguientes diccionarios:

peliculas = {'Año':[2014, 2014, 2013, 2013], 
             'Valoración':[6, None, 8.75, None],
             'Presupuesto':[160, 250, 100, None],
             'Director':['Gareth Edwards','Peter Jackson',  'Martin Scorsese', 'Alfonso Cuarón'],
             'Título':['Godzilla', 'El Hobbit III', 'El lobo de Wall Street', 'Gravity']}




directores = {'Director':['Gareth Edwards', 'Martin Scorsese', 'Pedro Almodovar'],
             'AñoNacimiento':[1975, 1942, 1949],
             'Nacionalidad': ['England', 'USA', 'Spain']
             }



Calcula un nuevo dataframe usando como 'key' el campo director. El resultado debe mostrar aquellos registros que al combinar ambos dataframes tienen un director común.

In [ ]:
import pandas as pd
peliculas = pd.DataFrame(
            {'Año':[2014, 2014, 2013, 2013], 
             'Valoración':[6, None, 8.75, None],
             'Presupuesto':[160, 250, 100, None],
             'Director':['Gareth Edwards','Peter Jackson',  'Martin Scorsese', 'Alfonso Cuarón'],
             'Título':['Godzilla', 'El Hobbit III', 'El lobo de Wall Street', 'Gravity']}
)


directores = pd.DataFrame(
            {'Director':['Gareth Edwards', 'Martin Scorsese', 'Pedro Almodovar'],
             'AñoNacimiento':[1975, 1942, 1949],
             'Nacionalidad': ['England', 'USA', 'Spain']
             }
)