# 2. Preparación y exploración de datos

Una vez cargados los datos en un dataframe pandas comienza una tarea (ardua en muchos casos) de limpieza y procesamiento del dataframe, para que éste pueda ser utilizado en el entrenamiento de modelos de Machine Learning.

Siempre, y antes de proceder a entrenar modelos, es aconsejable realizar un análisis de los datos, que por sí solo puede llevar a conclusiones importantes.

El **proceso** sería: 

- **Carga de datos** en un dataframe pandas.

- **Limpieza y procesamiento** del dataframe.

- **Exploración** de los datos. Dicha exploración se compone de **dos partes**:

    * **Exploración del** propio **dataframe** (con funciones estadísticas, etc.).
    
    * **Exploración visual** por medio de librerías de gráficos (se estudia en el próximo módulo de la asignatura.
    
En esta parte de la asignatura **nos enfocaremos en el procesamiento previo del dataframe y en su exploración** (dejando la exploración gráfica para el siguiente módulo).

In [1]:
import numpy as np
import pandas as pd

## Visualizar tipos de variable (df.dtypes)

In [77]:
catastro = pd.read_table('datos/catastro.tsv', nrows=10)
catastro.dtypes

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

año                  int64
id_distrito          int64
distrito            object
id_barrio            int64
barrio              object
id_uso              object
uso                 object
num_inmuebles        int64
año_cons_medio     float64
sup_cons           float64
sup_suelo          float64
valor_catastral    float64
dtype: object

## Gestión de datos en blanco (<i>missing values</i>)

En la mayoría de los ficheros utilizados como fuente de datos, es muy común la **existencia de valores nulos** (en blanco, <i>missing</i>...). Estos "huecos" en la información suelen ser muy problemáticos ya que tiene un impacto importante a la hora de realizar cualquier tipo de cálculo numérico y son difícilmente interpretables.<br/>
Uno de los objetivos de pandas en su construcción fue facilitar el tratamiento de este tipo de datos no existentes ofreciendo múltiples funciones que permiten llevar a cabo tanto su detección, como su eliminación o imputación...

### Detección de <i>missing values</i>

Pandas ofrece principalmente dos funciones para manejar la detección de valores nulos.<br/>
<ul>
<li><b>isnull:</b> Que devuelve una Serie o DataFrame booleano indicando qué elemetos son NaN o None.</li>
<li><b>notnull:</b> Que devuelve el inverso del anterior.</li>

In [2]:
catastro = pd.read_table('datos/catastro.tsv', nrows=10)
catastro

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,NaN,NaN,130010.0,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08
8,2014,1,Centro,11,PALACIO,P,Edificio Singular,15,1891.0,197518.0,NaN,2.816668e+08
9,2014,1,Centro,11,PALACIO,R,Religioso,17,1884.0,102718.0,NaN,1.142542e+08

In [3]:
# Detección de valores nulos
catastro.isnull()

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,True,True,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False,True,False

In [4]:
# Detección de valores no nulos
catastro.notnull()

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,True,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,False,True
5,True,True,True,True,True,True,True,True,True,True,False,True
6,True,True,True,True,True,True,True,True,False,False,True,True
7,True,True,True,True,True,True,True,True,True,True,False,True
8,True,True,True,True,True,True,True,True,True,True,False,True
9,True,True,True,True,True,True,True,True,True,True,False,True

### Eliminación de registros con <i>missing values</i>

Aunque SIEMPRE conviene hacer un estudio cuidadoso del por qué y la casuística de los valores nulos, uno de los posibles tratamientos a aplicar es su eliminación directa del set de datos. Pandas, nos ofrece el método <b>dropna</b> para llevar a cabo esta tarea. Los parámetros de este método son:<br/>
<ul>
<li><b>axis:</b> Selección de eje sobre el que realizar la eliminación.</li>
<li><b>how:</b> Tomará posibles valores <b>'any' y 'all'</b> e indica si se debe eliminar la fila o columna <b>cuando haya uno o más valores NaN o cuando todos los valores sean NaN</b>.</li>
<li><b>thresh:</b> Permite indicar, el <b>número de observaciones no nulas</b> que se deben tener <b>para  no realizar el borrado</b>.</li>
</ul>

In [31]:
print('........Cargando catastro.......')
catastro = pd.read_table('datos/catastro.tsv')
# Eliminación de filas con al menos 1 NA
print('Número de filas antes de limpieza de Nulls:',len(catastro))
catastro=catastro.dropna(how='any')
print('Número de filas después de limpieza de Nulls:',len(catastro))

........Cargando catastro.......
Número de filas antes de limpieza de Nulls: 3030
Número de filas después de limpieza de Nulls: 0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [32]:
# Ahora pedimos como requisito para borrar que todos los valores de la fila sean NaN
print('........Cargando catastro.......')
catastro = pd.read_table('datos/catastro.tsv')
# Eliminación de filas con al menos 1 NA
print('Número de filas antes de limpieza de Nulls:',len(catastro))
catastro=catastro.dropna(how='all')
print('Número de filas después de limpieza de Nulls:',len(catastro))

........Cargando catastro.......
Número de filas antes de limpieza de Nulls: 3030
Número de filas después de limpieza de Nulls: 3030

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
# Borramos filas con NaN pero mantenemos aquellas que tengan al menos 11 valores no nulos.
print('........Cargando catastro.......')
catastro = pd.read_table('datos/catastro.tsv')
# Eliminación de filas con al menos 1 NA
print('Número de filas antes de limpieza de Nulls:',len(catastro))
catastro=catastro.dropna(thresh=11)
print('Número de filas después de limpieza de Nulls:',len(catastro))

........Cargando catastro.......
Número de filas antes de limpieza de Nulls: 3030
Número de filas después de limpieza de Nulls: 2779

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

## Imputación de  <i>missing values</i>

Existirán **casos en los que no se desee** (o no se pueda) **eliminar** los registros con valores nulos (p.e. podrían suponer un porcentaje demasiado elevado de nuestro set de datos). En estos casos, habrá que realizar una **imputación** de los mismos **a un valor** preestablecido.<br/>
Pandas pone a nuestra disposición el **método <b>fillna</b>**, que cuenta, entre otros, con los siguientes **parámetros**:<br/>
<ul>
<li><b>axis:</b> Que decide si aplicará el criterio de relleno por filas o columnas.</li>
<li><b>value:</b> Que rellena los valores nulos a un valor fijo.</li>
</ul>

In [6]:
# IMPUTACIÓN CON UN VALOR PREDETERMINADO
catastro = pd.read_table('datos/catastro.tsv', nrows=10)
# Imputación de valores a 0
catastro=catastro.fillna(0)
catastro.head(100)

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,NaN,NaN,130010.0,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08
8,2014,1,Centro,11,PALACIO,P,Edificio Singular,15,1891.0,197518.0,NaN,2.816668e+08
9,2014,1,Centro,11,PALACIO,R,Religioso,17,1884.0,102718.0,NaN,1.142542e+08

In [8]:
# IMPUTACIÓN CON UN ESTADÍSTICO
catastro = pd.read_table('datos/catastro.tsv', nrows=10)
print(catastro.head(10))
print('sup_suelo media',catastro['sup_suelo'].mean())
catastro=catastro.fillna(catastro.mean())
catastro

    año  id_distrito distrito  id_barrio   barrio id_uso  \
0  2014            1   Centro         11  PALACIO      A
1  2014            1   Centro         11  PALACIO      C
2  2014            1   Centro         11  PALACIO      E
3  2014            1   Centro         11  PALACIO      G
4  2014            1   Centro         11  PALACIO      I
5  2014            1   Centro         11  PALACIO      K
6  2014            1   Centro         11  PALACIO      M
7  2014            1   Centro         11  PALACIO      O
8  2014            1   Centro         11  PALACIO      P
9  2014            1   Centro         11  PALACIO      R

                                                 uso  num_inmuebles  \
0                            Almacén-Estacionamiento           3034
1                                          Comercial           1407
2                                           Cultural             36
3                                  Ocio y Hostelería            254
4                                         Industrial             22
5                                          Deportivo              8
6  Suelos sin edificar, obras de urbanización y j...             47
7                                           Oficinas            559
8                                  Edificio Singular             15
9                                          Religioso             17

   año_cons_medio  sup_cons  sup_suelo  valor_catastral
0          1969.0  214457.0        NaN     1.295259e+08
1          1921.0  223552.0        NaN     4.076055e+08
2          1937.0   62963.0        NaN     7.582872e+07
3          1919.0  114226.0        NaN     1.954138e+08
4          1942.0   13228.0        NaN     1.180795e+07
5          1946.0    7238.0        NaN     1.061466e+07
6             NaN       NaN   130010.0     1.991520e+07
7          1947.0  196893.0        NaN     3.407841e+08
8          1891.0  197518.0        NaN     2.816668e+08
9          1884.0  102718.0        NaN     1.142542e+08
sup_suelo media 130010.0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.000000,214457.000000,130010.0,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.000000,223552.000000,130010.0,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.000000,62963.000000,130010.0,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.000000,114226.000000,130010.0,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.000000,13228.000000,130010.0,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.000000,7238.000000,130010.0,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,1928.444444,125865.888889,130010.0,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.000000,196893.000000,130010.0,3.407841e+08
8,2014,1,Centro,11,PALACIO,P,Edificio Singular,15,1891.000000,197518.000000,130010.0,2.816668e+08
9,2014,1,Centro,11,PALACIO,R,Religioso,17,1884.000000,102718.000000,130010.0,1.142542e+08

In [37]:
#COMPROBACIÓN CON UN EJEMPLO SENCILLO
df=pd.DataFrame(np.random.rand(10).reshape(5,2),columns=['a','b'])

df['a'].iloc[3]=float('NaN')
df['b'].iloc[1]=float('NaN')

print('means',df['a'].mean(),df['b'].mean())
print(df)
df=df.fillna(df.mean())
print(df)

means 0.6550411339530455 0.6036618084612693
          a         b
0  0.472663  0.790254
1  0.846892       NaN
2  0.591346  0.552935
3       NaN  0.935681
4  0.709264  0.135777
          a         b
0  0.472663  0.790254
1  0.846892  0.603662
2  0.591346  0.552935
3  0.655041  0.935681
4  0.709264  0.135777

       a      b
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

## Visión estadística del dataframe

Al igual que NumPy, pandas ofrece un conjunto amplio de funciones para llevar a cabo un **análisis estadístico de datos**.  Las más relevantes serían:<br/>
<ul>
<li><b>describe:</b> Presenta un conjunto con las estadísticas básicas más comunes calculadas sobre todas las columnas de la estructura. Equivalente a la función <i>summary</i> de R.</li>
<li><b>count:</b> Número de elementos no nulos.</li>
<li><b>min, max:</b> Valor mínimo y máximo.</li>
<li><b>argmin, argmax, idxmax, idxmin:</b> Posiciones con valor mínimo y máximo.</li>
<li><b>quantile:</b> Cuantil calculado.</li>
<li><b>sum:</b> Suma de elementos.</li>
<li><b>mean:</b> Media aritmética de los elementos.</li>
<li><b>median:</b> Mediana de los elementos.</li>
<li><b>std:</b> Desviación estándar de los elementos.</li>
<li><b>var:</b> Varianza de los elementos.</li>
<li><b>cumsum:</b> Suma acumulada de los elementos.</li>
<li><b>cumprod:</b> Producto acumulado de los elementos.</li>
</ul>

La mayor parte de estos métodos, podrán recibir 3 parámetros:
<ul>
<li><b>axis:</b> Que indica si realizar el cálculo por filas o columnas.</li>
<li><b>skipna:</b> Que indica si se deben ignorar o no los valores NaN a la hora de realizar los cálculos.</li>
</ul>

In [41]:
# Estadísticos básicos sobre el data set
catastro = pd.read_table('datos/catastro.tsv')
catastro.describe()

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

,año,id_distrito,id_barrio,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
count,3030.000000,3030.000000,3030.000000,3030.000000,2779.000000,2.779000e+03,2.510000e+02,3.030000e+03
mean,2013.500660,10.409571,107.859076,1403.419472,1970.994602,1.869152e+05,8.535464e+05,1.895442e+08
std,0.500082,5.799578,58.035732,3845.856589,50.989196,4.113414e+05,3.104010e+06,4.640894e+08
min,2013.000000,1.000000,11.000000,1.000000,283.000000,2.600000e+01,2.610000e+02,1.605825e+04
25%,2013.000000,6.000000,61.000000,5.000000,1964.000000,7.903000e+03,2.485500e+04,6.932275e+06
50%,2014.000000,10.000000,105.000000,21.500000,1974.000000,3.546400e+04,8.579900e+04,2.896345e+07
75%,2014.000000,15.000000,155.000000,369.000000,1984.000000,1.374300e+05,3.411385e+05,1.096837e+08
max,2014.000000,21.000000,215.000000,36289.000000,2013.000000,4.511346e+06,2.397070e+07,3.670799e+09

In [ ]:
# Suma por columnas
catastro.sum()

In [ ]:
# Suma por filas ignorando NA
catastro.sum(axis=1, skipna=True)

In [ ]:
catastro.mean()

## Elementos únicos y frecuencias

<ul>
<li><b>unique</b>: Que nos devuelve un array con el conjunto de elementos únicos de una Serie.</li>
<li><b>value_counts</b>: Que realiza un cálculo de frecuencias sobre los elementos únicos de una Serie.</li>
<li><b>isin:</b> Que nos permite chequear si un conjunto de valores se encuentra en una Serie.</li>
</ul>

In [49]:
catastro = pd.read_table('datos/catastro.tsv')

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [50]:
# Conjunto de de barrios
catastro.barrio.unique()

array(['PALACIO', 'EMBAJADORES', 'CORTES', 'JUSTICIA', 'UNIVERSIDAD',
       'SOL', 'IMPERIAL', 'ACACIAS', 'CHOPERA', 'LEGAZPI', 'DELICIAS',
       'PALOS DE MOGUER', 'ATOCHA', 'PACÍFICO', 'ADELFAS', 'ESTRELLA',
       'IBIZA', 'LOS JERÓNIMOS', 'NIÑO JESÚS', 'RECOLETOS', 'GOYA',
       'FUENTE DEL BERRO', 'GUINDALERA', 'LISTA', 'CASTELLANA', 'EL VISO',
       'PROSPERIDAD', 'CIUDAD JARDÍN', 'HISPANOAMÉRICA', 'NUEVA ESPAÑA',
       'CASTILLA', 'BELLAS VISTAS', 'CUATRO CAMINOS', 'CASTILLEJOS',
       'ALMENARA', 'VALDEACEDERAS', 'BERRUGUETE', 'GAZTAMBIDE',
       'ARAPILES', 'TRAFALGAR', 'ALMAGRO', 'RIOS ROSAS', 'VALLEHERMOSO',
       'EL PARDO', 'FUENTELARREINA', 'PEÑA GRANDE', 'EL PILAR', 'LA PAZ',
       'VALVERDE', 'MIRASIERRA', 'EL GOLOSO', 'CASA DE CAMPO',
       'ARGÜELLES', 'CIUDAD UNIVERSITARIA', 'VALDEZARZA', 'VALDEMARÍN',
       'EL PLANTÍO', 'ARAVACA', 'LOS CARMENES', 'PUERTA DEL ANGEL',
       'LUCERO', 'ALUCHE', 'CAMPAMENTO', 'CUATRO VIENTOS', 'LAS AGUILAS',
       'COMILLAS', 'OPAÑEL', 'SAN ISIDRO', 'VISTA ALEGRE',
       'PUERTA BONITA', 'BUENAVISTA', 'ABRANTES', 'ORCASITAS', 'ORCASUR',
       'SAN FERMÍN', 'ALMENDRALES', 'MOSCARDO', 'ZOFÍO', 'PRADOLONGO',
       'ENTREVÍAS', 'SAN DIEGO', 'PALOMERAS BAJAS', 'PALOMERAS SURESTE',
       'PORTAZGO', 'NUMANCIA', 'PAVONES', 'HORCAJO', 'MARROQUINA',
       'MEDIA LEGUA', 'FONTARRÓN', 'VINATEROS', 'VENTAS', 'PUEBLO NUEVO',
       'QUINTANA', 'CONCEPCION', 'SAN PASCUAL', 'SAN JUAN BAUTISTA',
       'COLINA', 'ATALAYA', 'COSTILLARES', 'PALOMAS', 'PIOVERA',
       'CANILLAS', 'PINAR DEL REY', 'APOSTOL SANTIAGO', 'VALDEFUENTES',
       'SAN ANDRÉS', 'SAN CRISTOBAL', 'BUTARQUE', 'LOS ROSALES',
       'LOS ANGELES', 'CASCO H. VALLECAS', 'SANTA EUGENIA',
       'CASCO H. VICALVARO', 'AMBROZ', 'SIMANCAS', 'HELLÍN', 'AMPOSTA',
       'ARCOS', 'ROSAS', 'REJAS', 'CANILLEJAS', 'EL SALVADOR',
       'ALAMEDA DE OSUNA', 'AEROPUERTO', 'CASCO H. BARAJAS', 'TIMÓN',
       'CORRALEJOS'], dtype=object)

In [47]:
# Tabla de frecuencias de distritos
catastro.distrito.value_counts(normalize=True) #Si no normalizamos da el número de apariciones, no la frecuencia

Ciudad Lineal            0.070627
Fuencarral - El Pardo    0.062376
San Blas                 0.061386
Moncloa - Aravaca        0.056766
Carabanchel              0.054785
Latina                   0.054455
Usera                    0.052805
Centro                   0.051485
Salamanca                0.051155
Arganzuela               0.050495
Puente de Vallecas       0.049505
Chamartín                0.048845
Chamberí                 0.048515
Tetuán                   0.047525
Hortaleza                0.046865
Retiro                   0.045215
Moratalaz                0.041254
Barajas                  0.037624
Villaverde               0.036964
Vicálvaro                0.016172
Villa de Vallecas        0.015182
Name: distrito, dtype: float64

## Correlación y covarianza

### Correlación

Función **f.corr()**

Parámetro: **Method**:

   - **pearson** : standard correlation coefficient

   - kendall : Kendall Tau correlation coefficient

   - **spearman** : Spearman rank correlation

In [38]:
catastro.corr()

,año,id_distrito,id_barrio,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
año,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_distrito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_barrio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_inmuebles,NaN,NaN,NaN,1.000000,0.523272,0.613234,NaN,0.285101
año_cons_medio,NaN,NaN,NaN,0.523272,1.000000,-0.079688,NaN,-0.237233
sup_cons,NaN,NaN,NaN,0.613234,-0.079688,1.000000,NaN,0.800653
sup_suelo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
valor_catastral,NaN,NaN,NaN,0.285101,-0.237233,0.800653,NaN,1.000000

### Covarianza

**df.cov()**

In [41]:
data=pd.read_excel('datos/all-euro-data-2020-2021.xlsx',sheet_name='E0')
data.cov()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
FTHG,1.857258,-0.087960,0.861739,0.001605,2.450368,-1.108361,2.197592,-0.398261,-0.687893,-0.040067,...,0.107071,-0.416120,0.022412,-0.019650,2.147023e-02,-0.023443,0.014682,-0.011551,0.015508,-0.017390
FTAG,-0.087960,1.621795,-0.012207,0.717837,-1.357246,2.059643,-0.577592,1.736455,-0.097993,0.022129,...,0.023059,0.263127,-0.015913,0.010630,-1.372018e-02,0.015530,-0.010762,0.014541,-0.013764,0.014094
HTHG,0.861739,-0.012207,0.723512,-0.007559,0.858963,-0.126087,0.958328,-0.113846,-0.325552,-0.113679,...,0.077147,-0.184231,0.006440,-0.005243,6.019398e-03,-0.006705,0.005100,-0.003936,0.004978,-0.004866
HTAG,0.001605,0.717837,-0.007559,0.663501,-0.329744,0.659086,-0.220334,0.685217,-0.068629,-0.073200,...,0.011585,0.136689,-0.007837,0.004647,-7.666444e-03,0.007904,-0.006838,0.007988,-0.007798,0.007142
HS,2.450368,-1.357246,0.858963,-0.329744,29.428082,-9.836232,9.864682,-3.568696,-0.412508,-0.214571,...,0.279171,-2.182559,0.088815,-0.067935,7.606399e-02,-0.080099,0.048640,-0.055971,0.061778,-0.067006
AS,-1.108361,2.059643,-0.126087,0.659086,-9.836232,22.179487,-2.948495,6.908361,0.403344,0.332553,...,0.075187,1.850836,-0.080181,0.065729,-6.992865e-02,0.071916,-0.067283,0.054909,-0.067099,0.069003
HST,2.197592,-0.577592,0.958328,-0.220334,9.864682,-2.948495,6.610435,-1.242542,-0.441204,-0.125819,...,0.181036,-0.947258,0.045260,-0.033855,4.111171e-02,-0.043908,0.024603,-0.030442,0.030633,-0.034021
AST,-0.398261,1.736455,-0.113846,0.685217,-3.568696,6.908361,-1.242542,5.249231,0.381003,0.057258,...,0.030185,0.785050,-0.030845,0.024072,-3.094448e-02,0.033724,-0.024553,0.027181,-0.027790,0.028704
HF,-0.687893,-0.097993,-0.325552,-0.068629,-0.412508,0.403344,-0.441204,0.381003,11.877324,0.966622,...,-0.177043,0.246087,-0.007688,0.009781,-5.486288e-03,0.017427,-0.007058,-0.002856,-0.005161,0.012242
AF,-0.040067,0.022129,-0.113679,-0.073200,-0.214571,0.332553,-0.125819,0.057258,0.966622,12.747949,...,-0.113115,0.072759,0.007536,-0.002197,1.136210e-02,-0.011157,-0.000629,-0.007578,0.003717,-0.007744
HC,0.159732,-0.451728,-0.030502,-0.039108,8.898149,-4.383055,2.446288,-1.844281,-0.151304,-0.596343,...,0.041290,-1.015251,0.029805,-0.020693,2.794693e-02,-0.024646,0.021370,-0.013551,0.020621,-0.019474
AC,0.077124,0.078094,0.299431,-0.025619,-3.126990,5.482609,-0.357391,1.121605,-0.330903,-0.460167,...,0.076525,0.691522,-0.017393,0.015198,-1.741873e-02,0.016412,-0.010699,0.006244,-0.014367,0.012820
HY,-0.308495,0.116834,-0.127492,0.084638,-0.396165,0.376143,-0.369766,0.038662,1.681472,0.213021,...,-0.017038,0.243110,-0.012737,0.010076,-1.068183e-02,0.013180,-0.005118,0.003071,-0.008242,0.010660
AY,0.033712,-0.055853,0.062007,-0.033043,0.670702,-0.119064,0.389699,-0.225819,0.277860,1.108294,...,-0.011472,-0.077692,-0.004004,0.004272,-2.333110e-03,0.002914,-0.006334,0.002534,-0.005053,0.004775
HR,-0.002542,0.038685,0.005418,0.012352,-0.057012,0.259309,-0.001472,0.098462,0.040936,-0.000647,...,0.001670,0.005217,-0.001577,0.001278,-1.425195e-03,0.001452,-0.001320,0.001561,-0.001357,0.001314
AR,0.048629,-0.036845,0.017625,-0.007603,0.131895,-0.182720,0.027625,-0.089498,-0.024950,0.011784,...,-0.011321,-0.002057,0.001326,-0.000489,6.338907e-04,-0.000499,0.000624,-0.001854,0.000712,-0.000606
B365H,-0.665702,0.618753,-0.262968,0.328003,-4.426212,3.417043,-1.863081,1.722613,-0.526304,-0.486715,...,0.078423,1.466927,-0.037646,0.028146,-3.900282e-02,0.036145,-0.010031,0.017000,-0.024434,0.022789
B365D,0.295512,-0.051429,0.189913,-0.007604,1.170454,-0.967165,0.474167,-0.291140,-1.168802,-0.771100,...,0.327967,-0.419341,0.000093,-0.000496,-1.839868e-03,-0.005243,0.002285,0.011573,-0.004089,0.000473
B365A,1.420462,-0.741232,0.680264,-0.359213,7.500710,-6.134002,3.027431,-2.507498,-2.445759,-1.376790,...,0.557228,-2.482426,0.040139,-0.030542,3.611674e-02,-0.049763,0.017752,0.015330,0.016387,-0.022387
BWH,-0.640143,0.633702,-0.261811,0.344718,-4.247931,3.327779,-1.801884,1.685362,-0.469006,-0.514167,...,0.062614,1.405934,-0.036195,0.027160,-3.760128e-02,0.034959,-0.009934,0.016362,-0.023536,0.022039
BWD,0.275396,-0.008908,0.172430,0.013052,1.103149,-0.873689,0.438410,-0.220433,-1.015106,-0.714482,...,0.297394,-0.377698,-0.001325,0.001211,-3.093304e-03,-0.003128,0.000482,0.013097,-0.005385,0.002263
BWA,1.349769,-0.754189,0.661607,-0.357060,7.294199,-6.103528,2.926719,-2.515164,-2.524779,-1.287597,...,0.581239,-2.465099,0.036144,-0.025432,3.119508e-02,-0.045670,0.015414,0.019303,0.012662,-0.019214
IWH,-0.650034,0.602889,-0.268428,0.331668,-4.214008,3.235036,-1.777070,1.594578,-0.444649,-0.491426,...,0.056582,1.370401,-0.035081,0.025460,-3.566646e-02,0.032973,-0.009506,0.015178,-0.022634,0.020955
IWD,0.263254,-0.049551,0.166242,-0.006052,1.093528,-0.850674,0.442130,-0.236528,-1.019020,-0.640143,...,0.281375,-0.363033,0.001318,-0.000946,-6.871014e-04,-0.005431,0.003067,0.011066,-0.003004,0.000090
IWA,1.294480,-0.723324,0.645568,-0.341056,6.987876,-5.899706,2.840242,-2.427734,-2.509132,-1.321252,...,0.534531,-2.367918,0.035802,-0.025639,3.085615e-02,-0.044763,0.015318,0.019683,0.012535,-0.018656
PSH,-0.680138,0.654258,-0.275888,0.355529,-4.551005,3.525398,-1.902785,1.745795,-0.514619,-0.520027,...,0.069030,1.489823,-0.038476,0.028251,-3.947704e-02,0.036583,-0.010576,0.017254,-0.024897,0.023229
PSD,0.296143,-0.033786,0.188757,-0.007006,1.108590,-0.889084,0.458225,-0.239563,-1.078639,-0.702894,...,0.315514,-0.395429,0.000185,-0.000514,-1.429084e-03,-0.005061,0.002590,0.012031,-0.003810,0.000452
PSA,1.467619,-0.822910,0.722054,-0.399759,7.797472,-6.793512,3.187365,-2.777331,-2.896094,-1.573485,...,0.631001,-2.696507,0.043588,-0.032039,3.824963e-02,-0.054542,0.020011,0.019924,0.016523,-0.023732
WHH,-0.674728,0.609413,-0.275742,0.318802,-4.409806,3.418599,-1.854088,1.699121,-0.480782,-0.505115,...,0.066571,1.446987,-0.038349,0.027479,-3.899971e-02,0.036352,-0.009606,0.017198,-0.024213,0.022669
WHD,0.261219,-0.015912,0.161412,0.006583,0.992103,-0.779904,0.408474,-0.199477,-0.971423,-0.647536,...,0.277958,-0.346819,-0.001064,0.000470,-2.400785e-03,-0.003335,0.001164,0.011992,-0.004512,0.001560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PSCA,1.583425,-0.820273,0.809321,-0.382734,7.865297,-6.786165,3.224033,-2.778716,-3.017779,-1.704039,...,0.666849,-2.668324,0.038197,-0.027911,2.860854e-02,-0.046870,0.018411,0.009820,0.016530,-0.025245
WHCH,-0.778812,0.647816,-0.328787,0.407501,-4.772533,3.778181,-2.044419,1.775422,-0.402391,-0.648621,...,0.085723,1.540765,-0.038319,0.025501,-3.738643e-02,0.034302,-0.011415,0.017309,-0.025445,0.023370
WHCD,0.301286,-0.014871,0.183636,0.027991,1.048235,-0.691829,0.454306,-0.226062,-1.043530,-0.661378,...,0.322949,-0.341702,-0.000873,0.000749,-3.658401e-03,-0.003290,0.000540,0.009891,-0.004770,0.000970
WHCA,1.619415,-0.845055,0.817684,-0.390280,7.728632,-6.782745,3.239227,-2.833474,-3.092357,-1.607144,...,0.677335,-2.693449,0.042496,-0.032794,3.403519e-02,-0.051932,0.023145,0.007813,0.019708,-0.028369
VCCH,-0.787625,0.673941,-0.337308,0.431427,-4.701466,3.768016,-2.047157,1.749833,-0.372642,-0.525491,...,0.088699,1.542525,-0.036313,0.026065,-3.624972e-02,0.033203,-0.012073,0.017036,-0.025493,0.023591
VCCD,0.310614,-0.026608,0.195558,0.023769,1.019961,-0.726406,0.464342,-0.255981,-1.066978,-0.704990,...,0.346040,-0.363517,-0.000116,-0.000575,-2.604878e-03,-0.004820,0.002215,0.007971,-0.003673,-0.000356
VCCA,1.635658,-0.836513,0.813949,-0.392456,7.698843,-6.772036,3.300771,-2.817393,-3.042570,-1.672628,...,0.662699,-2.672867,0.039971,-0.029764,3.092747e-02,-0.049430,0.019720,0.008329,0.017638,-0.026212
MaxCH,-0.884714,0.790810,-0.375886,0.528302,-5.440178,4.284745,-2.337466,1.992817,-0.555350,-0.769957,...,0.109761,1.751990,-0.044522,0.030727,-4.351022e-02,0.039397,-0.014864,0.021663,-0.031161,0.028417
MaxCD,0.376351,-0.048174,0.237925,0.018688,1.260740,-0.880463,0.558599,-0.326508,-1.349836,-0.888144,...,0.411860,-0.446899,0.000258,-0.000693,-3.261862e-03,-0.005826,0.002523,0.010260,-0.004542,-0.000423
MaxCA,1.881831,-1.001792,0.975397,-0.464705,8.828396,-7.715837,3.617908,-3.255366,-3.544958,-2.116950,...,0.805187,-3.084760,0.049179,-0.037840,3.807245e-02,-0.060103,0.027226,0.007399,0.022824,-0.033673
AvgCH,-0.755200,0.653195,-0.321948,0.415617,-4.622695,3.678370,-1.981409,1.689703,-0.417374,-0.552005,...,0.080263,1.495899,-0.036885,0.025355,-3.605188e-02,0.032954,-0.011815,0.017146,-0.025410,0.023301
AvgCD,0.317964,-0.023093,0.197711,0.019878,1.067867,-0.710560,0.463722,-0.238203,-1.089026,-0.734426,...,0.347517,-0.360308,0.000224,-0.000681,-2.362310e-03,-0.004958,0.002344,0.008650,-0.003617,-0.000401
AvgCA,1.514711,-0.786867,0.758861,-0.369859,7.328866,-6.365453,3.035931,-2.633138,-2.739035,-1.564865,...,0.611850,-2.502050,0.037665,-0.028441,2.986920e-02,-0.046324,0.018386,0.008450,0.016639,-0.024570
B365C>2.5,-0.074087,-0.034861,-0.048582,-0.007307,-0.160009,-0.101293,-0.125445,-0.058803,0.090562,0.037608,...,-0.102600,0.036980,-0.000012,-0.000102,-3.080045e-04,0.001103,-0.000283,-0.001047,0.000569,0.000169
B365C<2.5,0.111509,0.020982,0.081540,0.010569,0.298140,0.091336,0.185126,0.023101,-0.169829,-0.113261,...,0.146832,-0.075952,-0.000363,0.000489,-6.608606e-04,-0.000858,-0.000324,0.001446,-0.001299,0.000192
PC>2.5,-0.077128,-0.041098,-0.049919,-0.010194,-0.155064,-0.108162,-0.128517,-0.069292,0.090564,0.035620,...,-0.108549,0.037708,0.000237,-0.000225,-1.134069e-04,0.000964,-0.000130,-0.001436,0.000852,-0.000075
PC<2.5,0.113399,0.027334,0.081699,0.013473,0.292039,0.089725,0.183973,0.036780,-0.180180,-0.103916,...,0.152480,-0.074443,-0.000418,0.000415,-6.705039e-04,-0.000883,-0.000251,0.001535,-0.001416,0.000252
MaxC>2.5,-0.075889,-0.034575,-0.048396,-0.008365,-0.158229,-0.094127,-0.134733,-0.062223,0.092673,0.046593,...,-0.108887,0.037817,0.000412,-0.000283,-8.026756e-08,0.000788,-0.000048,-0.001244,0.000957,-0.000213
MaxC<2.5,0.115974,0.017312,0.087385,0.009582,0.323667,0.055132,0.200461,0.023101,-0.191417,-0.121330,...,0.158463,-0.082428,-0.000063,0.000182,-4.195563e-04,-0.001204,0.000039,0.001767,-0.001222,0.000029
AvgC>2.5,-0.071969,-0.035157,-0.046871,-0.008803,-0.147344,-0.085751,-0.122286,-0.058066,0.089403,0.044146,...,-0.100753,0.035954,0.000092,-0.000087,-1.648540e-04,0.000952,-0.000271,-0.001177,0.000677,0.000039
AvgC<2.5,0.107071,0.023059,0.077147,0.011585,0.279171,0.075187,0.181036,0.030185,-0.177043,-0.113115,...,0.142815,-0.069537,-0.000220,0.000209,-4.671371e-04,-0.000996,-0.000036,0.001358,-0.001177,0.000090
AHCh,-0.416120,0.263127,-0.184231,0.136689,-2.182559,1.850836,-0.947258,0.785050,0.246087,0.072759,...,-0.069537,0.719339,-0.020685,0.016977,-2.067759e-02,0.021614,-0.012316,0.009604,-0.015195,0.015644
B365CAHH,0.022412,-0.015913,0.006440,-0.007837,0.088815,-0.080181,0.045260,-0.030845,-0.007688,0.007536,...,-0.000220,-0.020685,0.010562,-0.009575,1.048005e-02,-0.010322,0.009768,-0.009834,0.009492,-0.009434
B365CAHA,-0.019650,0.010630,-0.005243,0.004647,-0.067935,0.065729,-0.033855,0.024072,0.009781,-0.002197,...,0.000209,0.016977,-0.009575,0.009931,-1.020522e-02,0.009935,-0.009643,0.009327,-0.009186,0.009079
PCAHH,0.021470,-0.013720,0.006019,-0.007666,0.076064,-0.069929,0.041112,-0.030944,-0.005486,0.011362,...,-0.000467,-0.020678,0.010480,-0.010205,1.134533e-02,-0.010883,0.010396,-0.010005,0.009923,-0.009683
PCAHA,-0.023443,0.015530,-0.006705,0.007904,-0.080099,0.071916,-0.043908,0.033724,0.017427,-0.011157,...,-0.000996,0.021614,-0.010322,0.009935,-1.088322e-02,0.010725,-0.009965,0.009791,-0.009576,0.009510
MaxCAHH,0.014682,-0.010762,0.005100,-0.006838,0.048640,-0.067283,0.024603,-0.024553,-0.007058,-0.000629,...,-0.000036,-0.012316,0.009768,-0.009643,1.039586e-02,-0.009965,0.010906,-0.009610,0.009680,-0.009397
MaxCAHA,-0.011551,0.014541,-0.003936,0.007988,-0.055971,0.054909,-0.030442,0.027181,-0.002856,-0.007578,...,0.001358,0.009604,-0.009834,0.009327,-1.000495e-02,0.009791,-0.009610,0.011148,-0.009529,0.009478
AvgCAHH,0.015508,-0.013764,0.004978,-0.007798,0.061778,-0.067099,0.030633,-0.027790,-0.005161,0.003717,...,-0.001177,-0.015195,0.009492,-0.009186,9.922644e-03,-0.009576,0.009680,-0.009529,0.009303,-0.009081
AvgCAHA,-0.017390,0.014094,-0.004866,0.007142,-0.067006,0.069003,-0.034021,0.028704,0.012242,-0.007744,...,0.000090,0.015644,-0.009434,0.009079,-9.682569e-03,0.009510,-0.009397,0.009478,-0.009081,0.009060

## Label encoding

Si queremos **incluir variables no numéricas en nuestros análisis/modelos** debemos mapear dichas variables a nuevas variables numéricas. Para ello utilizamos un **labelencoder**, que es un **objeto que codifica** los valores no numéricos en valores numéricos y **mantiene internamente dicho mapeo**, de forma que podemos hacer la **transformación inversa** en cualquier momento.

In [64]:
data=pd.read_excel('datos/all-euro-data-2020-2021.xlsx',sheet_name='E0')

In [65]:
from sklearn.preprocessing import LabelEncoder 
encoder_team=LabelEncoder()
encoder_league=LabelEncoder()
feats=['Div','HomeTeam','AwayTeam']
print(data[feats].head())
for feat in feats:
    if feat=='Div':
        encoder=encoder_league
    else:
        encoder=encoder_team
    data[feat]=encoder.fit_transform(data[feat].values)
data[feats].head()

  Div        HomeTeam     AwayTeam
0  E0          Fulham      Arsenal
1  E0  Crystal Palace  Southampton
2  E0       Liverpool        Leeds
3  E0        West Ham    Newcastle
4  E0       West Brom    Leicester

   Div  HomeTeam  AwayTeam
0    0         7         0
1    0         5        15
2    0        10         8
3    0        18        13
4    0        17         9

In [66]:
#Recuperamos los valores originales
feats=['Div','HomeTeam','AwayTeam']
for feat in feats:
    if feat=='Div':
        encoder=encoder_league
    else:
        encoder=encoder_team
    data[feat]=encoder.inverse_transform(data[feat].values)
data[feats].head()

  Div        HomeTeam     AwayTeam
0  E0          Fulham      Arsenal
1  E0  Crystal Palace  Southampton
2  E0       Liverpool        Leeds
3  E0        West Ham    Newcastle
4  E0       West Brom    Leicester

## Normalización de variables

Para **visualización estadística** e implementación de algunos **modelos de ML** es **aconsejable** que las **variables** estén **normalizadas**, para que sean **comparables** unas con otras.

**x_normalizada=(x-mu)/std**

Disponemos de un objeto llamado **StandardScaler** para transformar las variables. Al igual que con el LabelEncoder podemos realizar la **transformación inversa** en cualquier momento.

In [69]:
data=pd.read_excel('datos/all-euro-data-2020-2021.xlsx',sheet_name='SP1')

In [70]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
goles_home_scaled = sc.fit_transform(data)

ValueError: could not convert string to float: 'SP1'

**FALLA PORQUE HAY VARIABLES NO NUMÉRICAS**. **O BIEN** ESCALAMOS **SOLO LAS NUMÉRICAS O BIEN** HACEMOS UN **LABEL ENCODING** SOBRE LAS QUE NO LO SON Y DESPUÉS PROCEDEMOS A ESCALAR.

In [89]:
types=data.dtypes # Vemos las variables que no son normalizables
types

Div                  object
Date         datetime64[ns]
Time                 object
HomeTeam             object
AwayTeam             object
FTHG                  int64
FTAG                  int64
FTR                  object
HTHG                  int64
HTAG                  int64
HTR                  object
HS                    int64
AS                    int64
HST                   int64
AST                   int64
HF                    int64
AF                    int64
HC                    int64
AC                    int64
HY                    int64
AY                    int64
HR                    int64
AR                    int64
B365H               float64
B365D               float64
B365A               float64
BWH                 float64
BWD                 float64
BWA                 float64
IWH                 float64
                  ...
PSCA                float64
WHCH                float64
WHCD                float64
WHCA                float64
VCCH                float64
VCCD                float64
VCCA                float64
MaxCH               float64
MaxCD               float64
MaxCA               float64
AvgCH               float64
AvgCD               float64
AvgCA               float64
B365C>2.5           float64
B365C<2.5           float64
PC>2.5              float64
PC<2.5              float64
MaxC>2.5            float64
MaxC<2.5            float64
AvgC>2.5            float64
AvgC<2.5            float64
AHCh                float64
B365CAHH            float64
B365CAHA            float64
PCAHH               float64
PCAHA               float64
MaxCAHH             float64
MaxCAHA             float64
AvgCAHH             float64
AvgCAHA             float64
Length: 105, dtype: object

In [94]:
feats=['FTHG','FTAG'] # Tomamos las variables goles equipo de casa/fuera al final del partido
print(data[feats].head())
sc=StandardScaler()
data[feats]=sc.fit_transform(data[feats])
data[feats].head()

   FTHG  FTAG
0     0     0
1     2     0
2     0     2
3     0     1
4     1     1

       FTHG      FTAG
0 -1.140802 -1.079726
1  0.564520 -1.079726
2 -1.140802  0.835384
3 -1.140802 -0.122171
4 -0.288141 -0.122171

In [95]:
#Podemos deshacer la normalización en cualquier momento
data[feats]=sc.inverse_transform(data[feats])
data[feats].head()

   FTHG  FTAG
0   0.0   0.0
1   2.0   0.0
2   0.0   2.0
3   0.0   1.0
4   1.0   1.0

## Aplicación de funciones sobre series/dataframes

### Aplicación de funciones elemento a elemento sobre Series - Función map

In [52]:
serie = pd.Series([1, 2, 3, 4, 5, 6])
serie

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [53]:
def es_par(elemento):
    if elemento % 2 == 0:
        return 'Par: ' + str(elemento)
    else:
        return 'Impar: ' + str(elemento)

In [54]:
# Aplicación de función elemento a elemento sobre Serie
serie.map(es_par)

0    Impar: 1
1      Par: 2
2    Impar: 3
3      Par: 4
4    Impar: 5
5      Par: 6
dtype: object

### Aplicación de funciones elemento a elemento sobre DataFrames - Función applymap

In [55]:
dataframe = pd.DataFrame(np.arange(16).reshape(4, 4))
dataframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [56]:
def es_par(elemento):
    if elemento % 2 == 0:
        return 'Par: ' + str(elemento)
    else:
        return 'Impar: ' + str(elemento)

In [57]:
# Aplicación de función elemento a elemento sobre DataFrame
dataframe.applymap(es_par)

         0          1        2          3
0   Par: 0   Impar: 1   Par: 2   Impar: 3
1   Par: 4   Impar: 5   Par: 6   Impar: 7
2   Par: 8   Impar: 9  Par: 10  Impar: 11
3  Par: 12  Impar: 13  Par: 14  Impar: 15

### Aplicación de funciones fila a fila o columna a columna sobre DataFrames - Función apply

In [58]:
dataframe = pd.DataFrame(np.arange(16).reshape(4, 4))
dataframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [59]:
def es_suma_par(elemento):
    if np.sum(elemento) % 2 == 0:
        return 'Suma par: ' + str(np.sum(elemento))
    else:
        return 'Suma impar: ' + str(np.sum(elemento))

In [84]:
# Aplicación de función por columnas sobre DataFrame
dataframe.apply(es_suma_par)

0    Suma par: 24
1    Suma par: 28
2    Suma par: 32
3    Suma par: 36
dtype: object

In [85]:
# Aplicación de función por filas sobre DataFrames
dataframe.apply(es_suma_par, axis=1)

0     Suma par: 6
1    Suma par: 22
2    Suma par: 38
3    Suma par: 54
dtype: object

#### lambda function

It is a function defined ad hoc and having a single line

In [91]:
df=pd.DataFrame(np.random.randn(16).reshape(4,4))
df.columns=['a','b','c','d']
df['d']=df['d'].apply(lambda x: 1 if x>=0 else 0)
df

          a         b         c  d
0 -0.081578  2.273640  1.311392  1
1 -0.810878 -1.753460 -1.251278  1
2 -1.266556  1.374277 -0.446855  0
3  0.592987  2.047497 -0.263667  1

### Shift and diff

Podemos jugar con **diferencias relativas de posición dentro del dataframe** usando shift and diff.

#### Shift

Shift es un **desplazamiento hacia detrás o delante** en el dataframe

In [97]:
data=pd.read_excel('datos/all-euro-data-2020-2021.xlsx',sheet_name='SP2')

In [108]:
feats=['HomeTeam','HTHG'] #Variable: goles del equipo de casa al final de primera parte
team='Ponferradina'
data_filtered=data[data['HomeTeam']==team]
print(data_filtered[feats].head())
data_filtered['ultimo_resultado']=data_filtered['HTHG'].shift() #periods=1 por defecto
feats.append('ultimo_resultado')
data_filtered[feats].head()

        HomeTeam  HTHG
0   Ponferradina     1
26  Ponferradina     3
49  Ponferradina     0
64  Ponferradina     1
98  Ponferradina     0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

        HomeTeam  HTHG  ultimo_resultado
0   Ponferradina     1               NaN
26  Ponferradina     3               1.0
49  Ponferradina     0               3.0
64  Ponferradina     1               0.0
98  Ponferradina     0               1.0

In [110]:
feats=['HomeTeam','HTHG'] #Variable: goles del equipo de casa al final de primera parte
team='Ponferradina'
data_filtered=data[data['HomeTeam']==team]
print(data_filtered[feats].head())
data_filtered['ultimo_resultado']=data_filtered['HTHG'].shift(periods=3) 
feats.append('ultimo_resultado')
data_filtered[feats].head()

        HomeTeam  HTHG
0   Ponferradina     1
26  Ponferradina     3
49  Ponferradina     0
64  Ponferradina     1
98  Ponferradina     0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

        HomeTeam  HTHG  ultimo_resultado
0   Ponferradina     1               NaN
26  Ponferradina     3               NaN
49  Ponferradina     0               NaN
64  Ponferradina     1               1.0
98  Ponferradina     0               3.0

#### Diff

Diff calcula la **diferencia entre dos valores relativos** dentro del dataframe

In [111]:
data=pd.read_excel('datos/all-euro-data-2020-2021.xlsx',sheet_name='SP1')

In [116]:
feats=['AwayTeam','HTAG'] #Variable: goles del equipo de casa al final de primera parte
print(data[feats].head())
print()
team='Eibar'
data_filtered=data[data['AwayTeam']==team]
print(data_filtered[feats].head())
data_filtered['Diferencia']=data_filtered['HTAG'].diff() #Calcula valor actual - valor anterior (periods=1 por defecto)
feats.append('Diferencia')
data_filtered[feats].head()

     AwayTeam  HTAG
0       Celta     0
1  Ath Bilbao     0
2     Osasuna     1
3       Betis     0
4    Sociedad     0

    AwayTeam  HTAG
7      Eibar     0
33     Eibar     1
56     Eibar     1
74     Eibar     1
102    Eibar     0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

    AwayTeam  HTAG  Diferencia
7      Eibar     0         NaN
33     Eibar     1         1.0
56     Eibar     1         0.0
74     Eibar     1         0.0
102    Eibar     0        -1.0

In [117]:
#AHORA CALCULAMOS LA DIFERENCIA EN UN INTERVALO MAYOR
feats=['AwayTeam','HTAG'] #Variable: goles del equipo de casa al final de primera parte
print(data[feats].head())
print()
team='Eibar'
data_filtered=data[data['AwayTeam']==team]
print(data_filtered[feats].head())
data_filtered['Diferencia']=data_filtered['HTAG'].diff(periods=3) #Calcula valor actual - valor anterior (periods=1 por defecto)
feats.append('Diferencia')
data_filtered[feats].head()

     AwayTeam  HTAG
0       Celta     0
1  Ath Bilbao     0
2     Osasuna     1
3       Betis     0
4    Sociedad     0

    AwayTeam  HTAG
7      Eibar     0
33     Eibar     1
56     Eibar     1
74     Eibar     1
102    Eibar     0

C:\Users\juanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    AwayTeam  HTAG  Diferencia
7      Eibar     0         NaN
33     Eibar     1         NaN
56     Eibar     1         NaN
74     Eibar     1         1.0
102    Eibar     0        -1.0